[2017-03-15 19:17] rundef commented on #258
You have 2 options:
1. use the `apply_filter()` function
2. [redefine the shortcode handler using corcel](https://github.com/corcel/corcel#shortcodes) (automatically applied when you get `$post->content`)

In your case, it should be something similar to this:
[code]

[2017-03-15 19:39] Jossnaz commented on #258
@rundef so basically if I want to create a shortcode that lives in both worlds I have to stick with the pure rambo WP style. Which is fine. Just trying to figure out a way to access laravel models from within wordpress. I saw the larapress plugin but it caused me an error

[2017-03-19 05:20] krecebli opened #259 "how to make user login?"
Hi. I am using just one default db connection and want to make a user login with `Auth::login($user);`, but it returns `null`, and `Auth::check();` is still `false`. Although, `Auth::check();` is `true` in the same request with login attempt, but in the next one is `false`. So, how can I solve this? Maybe, I should use two connections for this, or anything else?

[2017-03-20 13:04] jgrossi commented on #259
Hi @krecebli thanks for the contribution. Are you using our `Corcel\Providers\Laravel\AuthServiceProvider` class?

[2017-03-20 15:00] krecebli commented on #259
Thanks for such a helpful package :)

Yes, I am.

[code]
Of course, I registered AuthServiceProvider in `config/app.php`. But `Auth::check();` is `true` only in the same request.

[2017-03-20 18:36] rundef commented on #259
You don't need to call `retrieveByCredentials` and `validateCredentials` manually.
You need to set the user provider in `config/auth.php` (see the README).
Then, the Laravel authentication mecanism will automatically use wordpress `wp_users` table.

Your controller should be similar to this:
[code]

[2017-03-20 19:46] krecebli commented on #259
I have already set the user provider in `config/auth.php`, but probably I misunderstood something and was trying with `retrieveByCredentials` and `validateCredentials`. It works with laravel's regular login, thanks :)

[2017-03-21 18:21] #259 closed

[2017-03-29 14:35] FourStacks opened #260 "Term meta"
Hi @jgrossi

First up, huge thanks for putting this package together - been putting it through it's paces on a client project and it's been awesome being able to allow my client to use WP as per their request whilst still building in Laravel.

Once I've got a little breathing room after this project is out the way I'm going to see what there is to contribute on Corcel as I can see it being really

[2017-03-30 08:25] FourStacks commented on #260
The question above still stands but for those wishing to know how to grab Yoast SEO meta for terms, please see this gist on how I implemented things:

https://gist.github.com/FourStacks/0cdbadd989ad81d2cf49252dfa6410d1

[2017-03-30 08:26] FourStacks commented on #63
For those wondering how to get Yoast SEO meta from terms please see #260

[2017-04-09 12:59] alanhr commented on #238
Why u don't use the join instead of Eloquent queries?

[2017-04-09 14:26] jgrossi commented on #238
Hi @alanhr! Thanks for the comment. Do you have any code solution for that using joins like you said? Can you write some code or even send a PR? Thanks!

[2017-04-10 14:23] alanhr commented on #238
Hi @jgrossi , in my opinion this implementation doesn't have be done inside of corsel.
Why not?
Because for me this implementation is a especifique custom of that project.

[2017-04-11 23:25] Jossnaz opened #262 "reset password error (including fix here)"
laravel 5.3.31
the commented out is your file and the next line is what actually seems to work:

ResetsPasswords.php

[code]

[2017-04-15 21:06] Jossnaz opened #263 "Using corcel with wordpress"
I wrote before with you guys about corcel and wordpress right, and people told me I was doing it wrong.

Now what is the original idea in using corcel? a simple example?

[2017-04-16 10:33] kovalski commented on #161
[code]

[2017-04-17 11:59] jgrossi commented on #263
Hi @Jossnaz! The original idea is to use Corcel as a PHP package (composer) inside your Laravel (or any framework) app, not including any WP source code into Laravel bootstrap, for example.

If you include WP inside Laravel you don't need Corcel, once you'll have `WP_Query` and all WP functions, but remember you're adding all WP overhead inside Laravel. If you need more advanced WP features I gues

[2017-04-17 11:59] jgrossi commented on #161
Hi @kovalski can you include this into a PR? Thanks.

[2017-04-17 14:38] ninthspace commented on #233
I had the same issue as @Jossnaz when developing a non-Laravel app that just happens to use Capsule, in that the Corcel setup clobbers any previous Capsule setup. Corcel\Database::connect doesn't have a name parameter so addConnection() always overrides default.

I resolved this by just chaining the Corcel connection to Capsule via its addConnection() method, which allowed me to specify the connec

[2017-04-17 15:41] jgrossi commented on #233
@ninthspace the `Database::connect()` is only a simpler way to add Capsule. You can add Capsule by hand and Corcel will work the same way.

BTW `Database::connect()` returns the `Capsule` instance, then you can add others connections if necessary, but you can just add Capsule in your bootstrap file for example:

[code]

[2017-04-18 23:06] Jossnaz commented on #263
so can you give me an example of a use case? because I cannot come up with anything that does not need `apply_filters('the_content',...)`

wp overhead was never a problem so far. Typically it is more common that a plugin is badly / slow performance written, and that causes problems.

the access to functions of wordpress are very 2000. The whole wordpress framework is old looking. No programmer wan

[2017-04-18 23:10] Jossnaz commented on #263
btw i am writing this because I yet solved another issue when loading both together. And I thought this would be a good place to share it with other devs, but as I understand, that knowledge is not wanted here

[2017-04-19 12:06] jgrossi commented on #263
@Jossnaz there's no right or wrong here, just recommendations... if you're including WP file to add all classes and functions it has you don't need Corcel, just get the posts you need using `get_posts()` for example... it's now about "ugly" or "beautiful" but what works better for you...

If you want to use Corcel you're going to use Laravel stuff, not WP... you won't use WP routes, templates, fil

[2017-04-21 02:12] firescript opened #264 "Documentation fix?"
I think these two should be switched no? Currently its:
[code]
Should be:
[code]

[2017-04-21 11:51] jgrossi commented on #264
Yep, you're right.

Actually I changed the basic code to look for `wordpress` or `corcel` connection names as well. If you are using Laravel and you only have `default` connection, Corcel would use it. But if you have a `wordpress` or `corcel` connection it would be used by Corcel.

The goal using `App\Post` is when using a different connection, like `foobar`, so you would have to create your own

[2017-04-21 14:35] firescript commented on #264
So for people who want to extend the `Corcel\Post` model into their own `App\Post` class they would use the 'protected $connection = "wordpress"' to give their model Corcel ability. But if you're content with just using `Corcel\Post` as your model in your controller to get data, you really don't even need a new Post model.

I'm currently just doing `use Corcel\Post` in my PageController to pull wh

[2017-04-21 15:53] jgrossi commented on #264
Cool thanks! Sound good! Any needs just let me know please. Cheers, JG.

[2017-04-27 10:56] codepotato opened #266 "Corcel + L5.4"
Hi all, thanks for developing Corcel, it'll save me hours!

That said, I'm having a problem at the moment with authenticating. I've followed all the setup tips for laravel and i'm getting this error:

Column not found: 1054 Unknown column 'email' in 'where clause' (SQL: select * from `wp_users` where `email` = {email}

I'm running Laravel 5.4 with two databases, one for laravel's own bits (files e

[2017-04-27 10:59] codepotato commented on #266
My auth.php config is :

'guards' => [
        'web' => [
            'driver' => 'session',
            'provider' => 'users',
        ],

        'api' => [
            'driver' => 'token',
            'provider' => 'users',
        ],
    ],

'providers' => [
        'users' => [
            'driver' => 'eloquent',
            'model' => \Corcel\User::class,
        ],

[2017-04-27 12:02] rundef commented on #266
Hi,

When are you getting this error ? When you are trying to login ?

Have a look at my [AuthController](https://github.com/rundef/laravel_wordpress/blob/tutorial2/site/app/Http/Controllers/Site/Auth/AuthController.php), it's a bit different than the one that comes with Laravel.

[2017-04-27 12:18] codepotato commented on #266
Hi @rundef this is when I'm using the standard laravel auth view. I assumed this would tie in with the AuthServiceProvider that ships with this package?

[2017-04-27 12:18] codepotato commented on #266
It's looking at the right table, but doesn't seem to touch the Corcel logic.

[2017-04-27 12:20] codepotato commented on #266
That AuthController isn't used in Laravel 5.4?

[2017-04-27 12:36] rundef commented on #266
My bad this is actually for laravel 5.2

But your config is wrong, take a look [here](https://github.com/corcel/corcel#using-laravel)

You need to register the **AuthServiceProvider** and use '`driver' => 'corcel'` in your config/auth.php file

[2017-04-27 12:44] codepotato commented on #266
I've done both of those, too.

[2017-04-27 12:46] codepotato commented on #266
Oops! I eat my words! I had missed the part about changing the driver to corcel. Oops. Thanks for the help!

[2017-04-27 12:46] #266 closed

[2017-04-27 18:31] jigsawsoul opened #267 "Paginate Terms"
Hi,

How can I paginate the posts from a category?
```Category::slug($slug)->posts()->paginate();```

Many thanks

[2017-04-27 18:56] jgrossi commented on #267
@jigsawsoul hi! isn't `->posts()->paginate()` working?

[2017-04-27 20:57] jigsawsoul commented on #267
Erm, I was sure it wasn't, but it is now

[2017-04-27 21:09] jigsawsoul commented on #267
@jgrossi how can I only show published posts of the category, right now I have revisions also, I have tried adding `->published()`

[2017-04-28 11:15] jgrossi commented on #267
`->posts()->published()->paginate()` should work.

[2017-05-02 15:46] jjiko opened #268 "Taylor broke belongsToMany again"
[fix various problems with belongs to many (#18380)](https://github.com/laravel/framework/commit/3aa2adc7574b0ff6f4f3b3a75de4b3f9c19a9737)

The constructor variables have changed and been renamed as of 3/16

In Model.php:128

This is the new belongToMany

        /**
         * Define a many-to-many relationship.
         *
         * @param  string  $related
         * @param  string  $table

[2017-05-03 11:57] jgrossi commented on #268
Hi @jjiko thanks for sharing this.

Actually, we maintain these methods because of previous versions of Laravel. For L5.1, 5.2 and 5.3 these relation methods did not take care of database connections, since 5.4 he changed that, so maintaining this is important for 5.1, 5.2 and 5.3 compatibilities.

I'm gonna get some time to check the changes and work on a bugfix for that. If you have any idea ple

[2017-05-05 21:33] kevinkiel opened #269 "Search functionality"
I was wondering is there any search functionality like
Post::search('keyword')->get() ?

[2017-05-15 07:26] thanhtutoo commented on #267
$posts = Post::published()->get();
return $posts;

if i use like this, it show the error like this

Call to undefined method Illuminate\Database\Query\Builder::published()

 But if i use like this

return $posts;

it works.Help me out please. Thanks.

[2017-05-19 16:09] ZapevalovAnton commented on #197
Same problem.

[2017-05-20 12:32] ZapevalovAnton commented on #197
Why nav_items method in the TermTaxonomy model??? Why not in Menu model??

[2017-05-20 12:53] ZapevalovAnton commented on #197
@jgrossi At you all works normally?

[2017-05-22 12:02] gbrits commented on #50
Can't seem to find any documentation concerning corcel/corcel communicating with a multisite Wordpress installation - has nothing been written yet for this? Currently I have for example `site_posts` for my initial Wordpress node, and my prefix would then be `site_` the first site in the _network_ would then be `site_1` ie `site_1_posts`. So in this instance, that'd be what @AlexECP was suggesting

[2017-05-22 12:29] gbrits commented on #50
For now I've settled with this solution, which seems to work for now:

    class Post extends Corcel
    {
        protected $connection = 'wordpress';
        protected $postType = 'post';
        public function __construct($whichSite) {
            $this->connection = $whichSite;
        }
    }

Then I just set multiple connections inside of `config/database.php` and call them upon the class i

[2017-05-22 18:34] bstarr322 opened #270 "Sharing Login between Wordpress and Laravel App."
Hi @jgrossi ,

I 'd like you to explain about the Auth Sharing feature of Corcel.
I 'd like to login to Laravel app using Wordpress login credentials.
But It's not working well. Laravel app is based on Gentelella theme.

So I 'd like you to clarify this Auth Part.

Thanks

[2017-05-23 08:47] AharonFeinstein commented on #50
I think having to setup multiple connection inside of `config/database.php` is not realistic for a large multisite installation.  When I need to edit batches of sites just use do the following:
[code]
I also sometimes create static functions that take the wordpress site id as a parameter, and start with:
[code]

[2017-05-24 01:23] AstralProgrammer opened #271 "How to switch options tables by site_id?"
Hi,

I'm trying to use Corcel together with a WP Multisite setup. I'm wondering how can I get the option details from other sites under the network? Is there something that works like switch_to_blog() ?

I tried displaying the entire result for the Options::all() but it only returns the options from the main options table which is for the main site only.

Thanks in advance.

[2017-05-24 07:07] AstralProgrammer opened #272 "Can I limit the fields to show?"
I tried using `$posts->get($array)` but it always returns with `Undefined property: stdClass::$post_type` .
I don't think using a `$posts->pluck($field)` for every field should be the way to get them

[2017-05-25 15:43] jgrossi commented on #272
Hi @AstralProgrammer I did not understand what you're trying to do, can you clarify a bit more? What are you trying to get?

[2017-05-25 15:48] jgrossi commented on #50
Hy @AharonFeinstein thanks for the contribution. I guess maybe it's better to create a `scopeNetwork()` for that, receiving an ID or website name:

[code]
Actually there's no official support for multisite into Corcel but of course, that would be an excellent contribution! Be welcome!

[2017-05-25 15:50] jgrossi commented on #270
Hi @bstarr322 thanks for the comment. Actually, you have to use the `AuthServiceProvider` we provide to make possible logging into a Laravel installation with WP credentials.

What problem are you facing?

[2017-05-25 15:55] jgrossi commented on #197
Hi @ZapevalovAnton @lightning229 @harpster604 @codemonkeynorth @jakejohns. You're right, the Menu feature should be improved to a better result, using a better OOP approach.

What do you think on working together with a fix for that? Can anyone send a PR or even just an idea about that? Thanks!

[2017-05-25 15:56] jgrossi commented on #267
@thanhtutoo is `Post::published()->get()` not working???

[2017-05-25 16:00] jgrossi commented on #269
Hi @kevinkiel actually no. Once Corcel is based on Eloquent it's trivial to search between fields and tables, but maybe a simple search functionality would be great.

What are your thoughts about this search? Which fields?

[2017-05-25 17:45] mascueto opened #273 "Corcel's errors on installation."
Hi, I'm trying to install Corcel but I'm getting problem to install the package via composer.

![corcel errors](https://cloud.githubusercontent.com/assets/28739914/26462710/d2d9de96-414f-11e7-816b-55e087a53d12.JPG)

I don't know if it is because of the location I'm using. I'm using Xampp server, which means that xampp/htdocs is my starter root followed by my project's folder name. full root: xampp

[2017-05-25 19:05] thaiscristine opened #274 "Pagination error"
When I call "$posts->render ()" I get the error:
`call_user_func() expects parameter 1 to be a valid callback, no array or string given (View: ...)`

ErrorException
…/vendor/illuminate/pagination/AbstractPaginator.php412

My Controller:

if ($input->get('ajax'))
        {
            $posts  = Post::type('post')->published()->paginate(3);

            return view('blog.fragments.ajax', compact('po

[2017-05-25 19:37] #237 closed

[2017-05-25 22:07] mascueto commented on #273
Hi, I did nothing just run again the command and it worked. Thanks!

[2017-05-25 22:07] #273 closed

[2017-05-26 20:43] SecretSquirrel001 commented on #270
I tried to setup the plugin but I am receiving the following error,

QueryException in Connection.php line 647:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'user_email' in 'where clause' (SQL: select * from `users` where `user_email` = test@test.com order by `user_registered` desc limit 1)

the Laravel DB is the same as the WP Database

[2017-05-29 08:37] VijitCoder opened #275 "Useless and obscure parameter in the AuthUserProvider"
[code]

`$this->config` is never used. Furthermore, it is not clear, what exactly should passed here. According the ["manual"](https://github.com/corcel/corcel#using-something-else), there is not expected any parameters.

[2017-05-29 12:45] rundef commented on #275
Hi,

This parameter is only used when using Corcel with Laravel.
It contains the **config/auth.php** config and it's currently only used to create the right [user class instance](https://github.com/corcel/corcel/blob/master/src/Providers/AuthUserProvider.php#L105-L109).
If you are not using Laravel, then yeah it's kind of useless.

[2017-05-30 03:51] VijitCoder commented on #275
Oh! I do not understand how I missed it. The question is closed. Thanks.

[2017-05-30 03:51] #275 closed

[2017-05-30 19:03] SamuelNCarvalho opened #276 "Repeater dont work with Taxonomy"
Repeater in taxonomy is not working.

Type error: Argument 2 passed to Corcel\Acf\Field\Repeater::fetchPostsMeta() must be an instance of Corcel\Post, instance of Corcel\Term given, called in D:\Samuel\Jobs\Giraffas\source\laravel\vendor\corcel\acf\src\Field\Repeater.php on line 30.

Code:
[code]
What is wrong?

[2017-05-31 11:04] socheatsok78 opened #277 "ComposerScripts::postInstall handling the post-install-cmd event terminated with an exception"
I've tried to run `composer install` and this error happened.

[code]
Please Help!

[2017-05-31 14:12] kevinkiel commented on #269
@jgrossi It would be great it you can set your own fields. But the basic is post_title and post_content (wp_posts) and maybe some connected ACF fields.

[2017-05-31 17:31] SamuelNCarvalho commented on #276
I made the fix for this issue. See in the code below:

In Corcel\Acf\Field\Repeater;

[code]

[2017-05-31 17:39] jgrossi commented on #276
hi @SamuelNCarvalho thanks for contributing! this is a issue related to the `corcel/acf` plugin, not the Corcel core. can you please make sure all `phpunit` tests are passing and then send there a new PR? thanks ;-)

[2017-05-31 19:39] SamuelNCarvalho commented on #276
Pull Request done in `corcel/acf`. Issue closed.

[2017-05-31 19:39] #276 closed

[2017-06-05 09:59] VijitCoder opened #279 "Save user meta"
Hi
As I see in the `Corcel\User` model, its meta stores only if the user record updates. I suggest to change the save method, so it can save meta for user insertion at one time:

[code]

This code works well with any case of the user change.

[2017-06-05 10:32] jgrossi commented on #279
Hi @VijitCoder thanks for contributing. Can you send a PR with that? Thanks!

[2017-06-05 11:18] VijitCoder commented on #279
PR https://github.com/corcel/corcel/pull/280

[2017-06-05 11:18] #279 closed

[2017-06-16 09:20] marcoboom commented on #269
@kevinkiel In fact, the models are compatible with Laravel Scout.

[2017-06-16 09:26] marcoboom commented on #271
@jgrossi @AstralProgrammer You could setup multiple database connections. For each site you only have to change the dbprefix property.

Within your AppServiceProvider you could select the current connection based on your domain or which settings you use.

Next you van change the wordpress/corcel db connection like:

[code]

[2017-06-19 20:42] jgrossi commented on #258
@Jossnaz is that fixed? can I close this issue?

[2017-06-19 20:59] Jossnaz commented on #258
@jgrossi well.. to be honest with you, I think corcel should provide an apply_filters or at least access to filtered post content. I mean apply_filter is _only_ used by me, to get the filtered post content of posts. If you lack this in corcel, you cannot read post contents. Was there a strong reason to not include it?

[2017-06-19 21:00] jgrossi commented on #258
@Jossnaz but you can get filter post content using `$post->content` and not `$post->post_content`.

[2017-06-20 09:09] Drax74 opened #282 "Querying options table not working"
I am using this package with laravel 5.2 and I have tried querying options table:

        Route::get('wp', function () {
            return Corcel\Options::all();
        });

But, I got:

It tries to do the query in the laravel db and not in the Wordpress db.

[2017-06-20 10:16] Drax74 commented on #282
Just realised that since I was working on the legacy code, I didn't have the latest version of the package, where this was fixed.

[2017-06-20 10:16] #282 closed

[2017-06-20 12:37] jgrossi commented on #277
@socheatsok78 did you fix this?

[2017-06-20 12:38] jgrossi commented on #270
@SecretSquirrel001 sorry for the late response. Did you fix that? Where you trying to query by the correct column?

[2017-06-20 12:39] jgrossi commented on #274
Hi @thaiscristine did you fix this? Sorry for the late response!

[2017-06-20 12:40] thaiscristine commented on #274
No @jgrossi, I continue with this problem.

[2017-06-20 12:50] bstarr322 commented on #270
@jgrossi I was able to make it work without using this Package.
I created two db connections, and compared the wp password and laravel pass by using this package.
https://packagist.org/packages/mikemclin/laravel-wp-password

Thanks for your package.

[2017-06-20 12:53] jgrossi commented on #270
@bstarr322 great! thanks for sharing!

[2017-06-20 12:53] #270 closed

[2017-06-20 12:56] jgrossi commented on #274
@thaiscristine I reproduced your code locally and it's working well. Are you using `Corcel\Post` class or your own? Have you set the correct database connection? When doing this:

[code]
Do you receive an instance of `LengthAwarePaginator`?

[2017-06-23 13:32] Drax74 opened #284 "Menu - hiding attributes from response"
I am trying to hide attributes from the query response to the menu model. I have tried with both setting the hidden and the visible array:

use Corcel\Menu as Corcel;
use Illuminate\Database\Eloquent\Model;

But, I still see all of the attributes from the query.

[2017-06-23 20:44] jgrossi commented on #63
![](https://github.trello.services/images/mini-trello-icon.png) [Implement SEO integration with YOAST](https://trello.com/c/9Xa1w2EO/2-implement-seo-integration-with-yoast)

[2017-06-23 20:45] jgrossi commented on #197
![](https://github.trello.services/images/mini-trello-icon.png) [Fix menu issues](https://trello.com/c/AyFl11jz/3-fix-menu-issues)

[2017-06-23 22:25] jgrossi opened #285 "New Trello board"
Hello everyone,

If you want to contribute with Corcel now we have a Trello board to manage tasks, plan new features, fix bugs, etc.

Trello board Corcel PHP - https://trello.com/b/9F9UfiOD/corcel-php.

If you have interest in joining the board just let me know your Trello username and I'll add you.

Best regards, JG

[2017-06-24 04:30] SecretSquirrel001 commented on #270
@jgrossi yeah I forgot to change the database connections like a scrubby :D

[2017-06-30 13:48] kevinkiel opened #286 "Global scopes"
I'm using a BasePost that extends Corcel\Post. And I was wondering is there any support for global scopes?

I would like to use something like this:

[code]

<img width="804" alt="schermafbeelding 2017-06-30 om 15 48 35" src="https://user-images.githubusercontent.com/531113/27738421-92771c60-5dab-11e7-87c4-525d497018f3.png">

[2017-07-06 12:12] jgrossi commented on #197
Hi @ZapevalovAnton @lightning229 @harpster604 @codemonkeynorth @jakejohns. I'm fixing this issue and cleaning up the code for better understanding. I need your help, can anyone send me a slice of the `wp_postmeta` and `wp_posts` tables with those records related to a menu? I'm gonna change the logic in the code to make it work.

I'd be better to have a complete SQL code, like a Menu with Post, Pag

[2017-07-06 12:13] jgrossi commented on #197
Just to let you know, there's not test coverage for this yet, so I'm gonna understand your needs and then right tests to make sure everything is working.

[2017-07-07 14:14] jgrossi commented on #197
Hey @ZapevalovAnton @lightning229 @harpster604 @codemonkeynorth @jakejohns. Just to let you know the menu issue is fixed on `2.4` branch. I'm working on a new version of Corcel and we're going to match Laravel release: so `Laravel 5.0 => Corcel 2.0, .. Laravel 5.4 => Corcel 2.4`. For now there's no tag in the `2.4.*` release yet, but I'm gonna do that soon.

I've added some new unit tests, even fo

[2017-07-10 06:59] jakobbuis commented on #285
I'm @jakobbuis on Trello 😄

[2017-07-10 09:47] benrolfe opened #288 "Parent pages"
When using parent pages, the WordPress `posts` table uses the `post_parent` column.

Has anyone written Laravel PHP code to handle multiple parent pages? I want one route/controller to handle the fetching of the correct page/post.

Eg: www.example.com/work/case-studies/apple/

Is there a way to do this with the `hasOne` method?

[2017-07-10 11:55] jgrossi commented on #288
Hi @benrolfe do you want to list all parent pages you have? The following logic is valid for any post type (post, page, custom, etc). If that's it:

[code]
If you want to fetch the parent of a specific post just do this. You have a `parent()` relation you can use just calling `$post->parent`:
[code]
But if you want all posts/pages that has parents:
[code]

[2017-07-10 11:58] jgrossi commented on #285
@jakobbuis added! ;-)

[2017-07-10 12:01] benrolfe commented on #288
@jgrossi, it's very helpful to know about `$post->parent`, however I was more looking for an efficient way to write this...

[code]
I hope that clarifies the question.

[2017-07-10 12:29] jgrossi commented on #288
Well, inside this route you should query the page you want, just write a Laravel query to fetch the page by the `$child_slug` and others variable (maybe you should use multiple `whereHas()` to match the `parent_slug` and then `grandparent_slug`, if you find the page ok, if not, you trigger a 404 response.

If you want to do something automatically, with multilevels you still can do this, but you h

[2017-07-10 21:07] jgrossi commented on #19
![](https://github.trello.services/images/mini-trello-icon.png) [Fix Post pagination issues](https://trello.com/c/ZE2qVG8P/20-fix-post-pagination-issues)

[2017-07-10 21:07] jgrossi commented on #274
![](https://github.trello.services/images/mini-trello-icon.png) [Fix Post pagination issues](https://trello.com/c/ZE2qVG8P/20-fix-post-pagination-issues)

[2017-07-12 08:20] benrolfe commented on #288
I've got this to work...

[code]

[2017-07-12 14:39] jgrossi commented on #288
@benrolfe nice approach ;-) anything I can help just let me know! Cheers!

[2017-07-12 14:39] #288 closed

[2017-07-13 01:35] jgrossi commented on #286
Hi @kevinkiel sorry about the delay. Can't you create your own scope?

[code]

[2017-07-13 01:36] #285 closed

[2017-07-13 01:37] jgrossi commented on #284
Hi @Drax74 try to use the `$append` variable, please. Maybe it's that the problem. Let me know the results please.

[2017-07-13 01:37] #277 closed

[2017-07-13 01:38] jgrossi commented on #274
@thaiscristine any update?

[2017-07-13 01:38] #272 closed

[2017-07-13 01:39] jgrossi commented on #271
@AstralProgrammer any update?

[2017-07-13 01:40] jgrossi commented on #269
@kevinkiel any update?

[2017-07-13 01:41] #268 closed

[2017-07-13 01:41] #267 closed

[2017-07-13 01:42] #264 closed

[2017-07-13 01:42] #263 closed

[2017-07-13 01:44] jgrossi commented on #262
I'm working on new Corcel versions, then the `2.3` will be compatible with Laravel 5.3. I'm gonna let this issue opened to make sure it's working on Laravel 5.3.

[2017-07-13 01:47] jgrossi commented on #260
![](https://github.trello.services/images/mini-trello-icon.png) [Implement SEO integration with YOAST](https://trello.com/c/9Xa1w2EO/2-implement-seo-integration-with-yoast)

[2017-07-13 01:47] #260 closed

[2017-07-13 01:47] #63 closed

[2017-07-13 01:48] #258 closed

[2017-07-13 01:48] #253 closed

[2017-07-13 01:53] jgrossi commented on #250
@marcoboom I'm working on new Corcel versions. The `v2.x.x` version will be compatible with Laravel `5.x.x` versions, for example, Corcel 2.3 with Laravel 5.3 and Corcel 2.4 with Laravel 5.4.

I'm currently rewriting almost everything, refactoring, writing more teste (using now Sqlite `:memory` with factories and migrations). Please take a look on `2.4` branch. Once it's finished I'm gonna start c

[2017-07-13 01:53] #245 closed

[2017-07-13 01:54] jgrossi commented on #238
![](https://github.trello.services/images/mini-trello-icon.png) [Improve SQL queries in Repeater and Flexible Content fields](https://trello.com/c/XZxwbBkD/15-improve-sql-queries-in-repeater-and-flexible-content-fields)

[2017-07-13 01:54] #238 closed

[2017-07-13 01:54] #231 closed

[2017-07-13 01:55] #227 closed

[2017-07-13 01:55] #219 closed

[2017-07-13 01:55] #218 closed

[2017-07-13 01:55] #215 closed

[2017-07-13 01:56] #212 closed

[2017-07-13 01:56] jgrossi commented on #205
![](https://github.trello.services/images/mini-trello-icon.png) [Format post content like wpautop function](https://trello.com/c/i6mK9hgm/36-format-post-content-like-wpautop-function)

[2017-07-13 01:57] #205 closed

[2017-07-13 01:57] #200 closed

[2017-07-13 01:58] jgrossi commented on #197
I'm gonna close this. This is fixed on version 2, which is going to be release in the next weeks.

[2017-07-13 01:58] #197 closed

[2017-07-13 01:58] jgrossi commented on #66
![](https://github.trello.services/images/mini-trello-icon.png) [Add support for WPML plugin for translation purposes](https://trello.com/c/Uwveaa8E/37-add-support-for-wpml-plugin-for-translation-purposes)

[2017-07-13 01:59] #66 closed

[2017-07-14 09:01] kevinkiel commented on #286
@jgrossi

Thanks for your reaction no problems.

Yes I can create a local scope but that means that I have to call the scope every time
model->order()->get
and with a global scope you only have to call the model
model->get

But on your reaction I understand there is no support for global scopes yet? :P

[2017-07-14 11:03] jgrossi commented on #286
Hi @kevinkiel got it. Yes, you can. Actually this is not related to Corcel itself, but with Laravel's Eloquent ORM. That's possible and you basically have to create a new `FooScope`class that implements the `ScopeInterface` interface.

You can follow this post. It's very helpful and can solve your problem ;-)

https://softonsofa.com/laravel-5-eloquent-global-scope-how-to/#disqus_thread

[2017-07-14 11:05] jgrossi commented on #286
@kevinkiel I think you can use something like what you did but with your own class:

[code]

[2017-07-14 11:07] jgrossi commented on #286
@kevinkiel actually this last one is an easier solution. Take a look at @AlnourAltegani answer here: https://laracasts.com/discuss/channels/general-discussion/laravel-global-scope-on-retrieving-a-model

[2017-07-15 06:57] socheatsok78 commented on #277
Oh I almost forgot that i've open an issue sorry :D
Yes everything is fixed because I missed place the "use Corcel" in my controller.

[2017-07-15 11:40] jgrossi commented on #277
Don't worry. You're welcome!

[2017-07-24 03:49] Samnan opened #290 "How to access the post permalink?"
Tried

{{ $post->url }}   // gives something like blog/?p=1

Need the rest url for the post..

[2017-07-24 11:01] jgrossi commented on #290
Hi, @Samnan thanks for sharing.

Actually, once you're using WordPress inside another app does not make sense to use post permalink. The post permalink should be related to your app's routes.

For example, if you have a `/post/{slug}` route in Laravel called `post.show` you should get the permalink with something like this:
[code]

[2017-07-24 11:08] Samnan commented on #290
Hi, the way I am using corcel is to have wordpress its own blog and admin, and in my laravel website, I have setup custom post types in wordpress that I need to fetch and display in my main website. The reason for post permalink requirement is because i have to show the most recent blog posts also (along with their url) in the website homepage, and that's why the permalink is needed. Without the p

[2017-07-24 11:12] jgrossi commented on #290
Well, in this case, you should create a helper function to build the WP permalink, getting the URL from the WordPress install (from database) and then appending the `$post->url`.

You have to think you're dealing with two different apps, connects only by the database. Another options would be creating a `getPermalinkAttribute()` in your own `Post`class to generate the URL, getting the URL from WP

[2017-07-24 11:17] Samnan commented on #290
That looks to be the only one of two ways to get the permalink. The other one requires loading wp-load.php, but that loads the whole wordpress as a library into the app, which is an overkill.

I will see what I can do. Thanks anyway!

[2017-07-24 11:17] #290 closed

[2017-07-24 11:21] jgrossi commented on #290
Both options: 1) creating a helper function and 2) creating the permalink attribute on `Post` class you don't need to load WP (`wp-load.php`) just use Corcel to get the WP url (`Options` class) and append the post url.

[2017-07-26 15:29] kalinichenko88 opened #291 "Meta relation error"
I got an error If use own class for custom post type.

Example:

[code]

Any query returns exception:

[code]

I found problem in https://github.com/corcel/corcel/blob/2.4/src/Traits/HasMetaFields.php#L184 , relation field builds dynamic based on class name, but it should be 'post_id' always.

Is it bug or feature?

used corcel 2.4

[2017-07-27 11:53] yclaes commented on #66
@Charl13, do you know if it's possible to translate ONE post using their slug or ID?

[2017-07-27 16:25] jgrossi commented on #291
@kalinichenko88 thank you so much for this.. that's a bug and I did not think in that case, a custom post that has meta fields ;-) it's not tested actually, but I'm gonna do that and merge..

and thanks for trying the `2.4` branch ;-) it's going to be release soon.

are you using Laravel 5.4, right?

[2017-07-27 16:26] jgrossi commented on #291
![](https://github.trello.services/images/mini-trello-icon.png) [Fix bug when a custom post type has meta](https://trello.com/c/J1jONXgr/45-fix-bug-when-a-custom-post-type-has-meta)

[2017-07-27 17:09] jgrossi commented on #291
@kalinichenko88 it's fixed on `2.4` branch. can you update and check if it's working now, please?

[2017-07-27 18:36] kalinichenko88 commented on #291
@jgrossi it's worked. Thanks!

I use Corcel with Laravel 5.4. Also, I trying use Corcel in WordPress plugin development

[2017-07-27 18:37] jgrossi commented on #291
@kalinichenko88 cool stuff! let me know any bugs or question ;-)

[2017-07-27 18:37] #291 closed

[2017-07-28 08:49] nickbluestone98 opened #293 "WooCommerce Support?"
Hello,

This API looks perfect for me,  just wondering if WooCommerce is supported?

Kind Regards,

Nick.

[2017-07-28 14:36] nickbluestone98 commented on #293
Took a little time and went back through closed tickets and saw it wasn't currently supported... I have one of two options I think.

1. Implement this API and make my own Models to handle WooCommerce.
2. Use another API to work alongside yours, was thinking of this one: https://github.com/pixelpeter/laravel5-woocommerce-api-client

What would be your advice?

Many thanks in advance.

Nick.

[2017-07-31 15:14] jgrossi commented on #293
Hi @nickbluestone98 thanks for reaching.

I think the best case is to create a plugin, like what we did with ACF `corcel/acf`, creating then the `corcel/woocommerce` plugin. The best idea I guess is to create the models like `Corcel\WooCommerce\Model\Product` and so on, but using that library to work with the `Client` stuff.

What do you think? Do you have interest on working in this brand new plu

[2017-08-01 17:30] thaiscristine commented on #19
Yes, we are getting an instance of "LengthAwarePaginator". The problem is happening in the "$ posts->render()".

[2017-08-01 17:32] thaiscristine commented on #274
Yes, we are getting an instance of "LengthAwarePaginator". The problem is happening in the "$posts->render()".

[2017-08-02 13:49] nickbluestone98 commented on #293
Hello,

I am currently looking into this and let you know the outcome. if I was too go ahead I will let you know and integrate my own plugin for the corcel package for the community.

Kind Regards,

Nick.

[2017-08-03 03:29] socheatsok78 commented on #66
I have a test package extended from Corcel, that will treat WPML post translation nicely. I'm not sure if it works for you but it is what i'm currently using with my project. [socheatsok78/wpml](https://github.com/socheatsok78/wpml)

[2017-08-03 15:00] omzy83 opened #294 "ACF & relational post object"
I have created a field in ACF called "case study". The field is of type "Post". I use this field for a section on my homepage that displays a case study. Screenshot to illustrate:

![image](https://user-images.githubusercontent.com/8927010/29005324-d05ea330-7ad0-11e7-8dcd-fa9ffdee12a8.png)

app/Http/Controllers/HomeController.php:

[code]

app/Models/CaseStudy.php

[code]

What I want to do in my

[2017-08-04 09:27] KodeStar commented on #215
It's a shame corcel doesn't work with visual composer, would make things a lot easier, client can make their changes in visual composer and corcel display it on the front end.

As far as I can tell Corcels shortcode feature wont work because all it does is allow you to replace a shortcode with something else, which would mean having to understand what every shortcode in visual composer does and re

[2017-08-04 10:02] p-drolima commented on #215
F sick of hearing about visual composer! Its probably one of the worst plugins from a developer point of view

[2017-08-04 10:09] KodeStar commented on #215
I don't disagree, unfortunately with a wordpress backend, most clients want the ability to use visual composer, the best option is to not use wordpress at all.

[2017-08-04 11:34] p-drolima commented on #215
yes, but clients are looking for cost effective solutions, so kind of needs to be used. the thing is that WP could actually do much better in integrating some functionality so we dont need to resort to this type of plugin

[2017-08-04 13:35] jgrossi commented on #215
@KodeStar @p-drolima it would be awesome to have a `corcel/visual-composer` plugin ;-)

[2017-08-04 13:36] jgrossi commented on #215
@KodeStar once you have experience with that we could start this project together. what do you think?

[2017-08-04 16:50] jgrossi commented on #291
@kalinichenko88 are you using `2.4` branch, right? did you find any bug? I'm about to tag `2.4.0` ;-)

[2017-08-04 18:06] jgrossi commented on #66
@socheatsok78 that'd be nice! if you can contribute, go ahead! we can create a plugin `corcel/wpml` for that 😎

[2017-08-04 18:06] jgrossi commented on #293
@nickbluestone98 thanks! 😉

[2017-08-05 04:25] JeanHules commented on #197
Has this been fixed? I am just curious. I am running 2.3 on 5.3, but cannot figure out how to retrieve the menus and their links.

I have
`
namespace App\Models;
use Corcel\Model\Menu as Corcel;
class Menu extends Corcel
{
    protected $connection = 'wp';
}
`

and method is:

`
$menu = Menu::slug($name)->first()->items;
print_r($menu);exit;
`

as my model, but I am not getting any useful data. I

[2017-08-05 09:42] jgrossi commented on #197
@JeanHules hi! did you read the docs or my last comment in this thread? `$menu->items` is a collection of `nav_menu_item` posts, but they have nothing in title. That's how it works, the database works. You have to call `->instance()` to get the correct item instance (`Post`, `Page`, `Taxonomy` or `CustomLink`).

[2017-08-05 10:22] omzy83 opened #295 "ACF connection error"
Just installed Corcel 2.4 and I'm getting an error right away. I'm trying to access an ACF field, the error I am getting is:

![image](https://user-images.githubusercontent.com/8927010/28994864-623e262e-79d0-11e7-83ee-10dd7474beae.png)

I have set up the database connection in `config/corcel.php`. I don't get the error when I remove the ACF fields.

I have extended my own Post class as follows:

[

[2017-08-05 10:47] jgrossi commented on #295
@omzy83 hi thanks for reporting this. For now you can get the ACF field as `$post->meta->field_name`. I'm gonna check this issue and let you know.

[2017-08-05 10:50] omzy83 commented on #295
Thanks @jgrossi . I just found that the issue is due to the namespacing in the corcel/acf package. E.g in `BasicField.php` it has:

[code]

it should be:

[code]

[2017-08-05 10:55] jgrossi commented on #295
@omzy83 hm good call. Can you send a PR to `corcel/acf` I'm AFK.

[2017-08-05 11:27] omzy83 commented on #295
Done. https://github.com/corcel/acf/pull/47

I'm guessing you'll need to create a new major version of ACF for Corcel v2?

[2017-08-05 13:36] kalinichenko88 commented on #291
@jgrossi thanks for your attention! I using 2.4 branch. No new bugs yet :-) looks fine

[2017-08-06 14:05] omzy83 commented on #294
Anyone able to help?

[2017-08-06 15:22] p-drolima commented on #294
can u paste the code here?

[2017-08-06 16:59] omzy83 commented on #294
@p-drolima I've just updated my original post with the relevant code.

[2017-08-07 00:40] jgrossi commented on #295
@omzy83 thanks for contributing. ACF plugin is now version `1.0.0` and all phpunit tests fixed ;-) thanks

[2017-08-07 00:40] #295 closed

[2017-08-07 00:42] jgrossi commented on #294
@omzy83 what's the instance type of the `$case_study` object? is it really a `Builder` instance?

[2017-08-07 02:53] socheatsok78 commented on #66
@jgrossi i'd love to. :+1:  Let me know if i could give a helping hand.

[2017-08-07 07:14] Dartui commented on #286
Another approach:
[code]

[2017-08-07 10:17] omzy83 commented on #294
As far as I know, `$case_study` is a CaseStudy post type.

What it seems like to me is that it's not able to access any methods in my CaseStudy model.

[2017-08-07 14:39] jgrossi commented on #294
It should be a `Post` instance but it seems to be a `Builder` one. did you debug it?

[2017-08-07 14:54] omzy83 commented on #294
I did a `dd()` of `$case_study` and here is the output:

![image](https://user-images.githubusercontent.com/8927010/29032278-ba0fe900-7b88-11e7-8af7-a3b73879a450.png)

Is there any better way to debug?

[2017-08-08 06:05] vivek7890 opened #297 "During installation I am getting following error"
I am using laravel 5.4. While installing this package I am getting error.
error is -
[Symfony\Component\Debug\Exception\FatalThrowableError]
  Parse error: syntax error, unexpected ',', expecting ']'
Script php artisan optimize handling the post-update-cmd event returned with error code 1

[2017-08-08 07:04] vivek7890 commented on #297
Sorry It was my fault. I had a typo in one of my file.

[2017-08-08 10:51] vivek7890 opened #298 "using laravel models inside wordpress"
How can I use laravel model inside wordpress. Can you give me one example. I need both way communication. I looked at this https://github.com/corcel/corcel/issues/270 and https://github.com/corcel/corcel/issues/246 but i din't get. Thanks

[2017-08-08 18:26] Dartui commented on #294
I think that this is related to #250. `$post->acf->case_study` returns base class `Post`, not your extended CaseStudy.

[2017-08-08 22:22] omzy83 commented on #294
@Dartui thanks for pointing this out, it provided the solution for me.

I just needed to map the classes in `corcel.php`, e.g:

    'post_types' => [
        'case_studies' => App\Models\CaseStudy::class,
    ],

[2017-08-09 09:11] anujdhingra11 opened #299 "Some attributes function are missing (Models/Post.php)"
/**
     * Gets the title attribute.
     *
     * @return string
     */
    public function getTitleAttribute()
    {
        return $this->post_title;
    }

    /**
     * Gets the slug attribute.
     *
     * @return string
     */
    public function getSlugAttribute()
    {
        return $this->post_name;
    }
    /**
     * Gets the type attribute.
     *
     * @return string
     */

[2017-08-09 17:11] jgrossi commented on #299
hi, no they aren't. take a look on the `aliases` attribute in `Post` class. cheers.

[2017-08-09 17:11] #299 closed

[2017-08-09 19:29] yahyazini opened #300 "Call to undefined method Illuminate\Database\Query\Builder::getTitleAttribute() when returning posts"
I'm trying the following:
[code]
and getting the following error:
[code]

My model has nothing special and my connection is set in config/corcel.php:
[code]

[2017-08-09 23:42] #294 closed

[2017-08-10 11:05] anujdhingra11 commented on #300
#Add below functions in Post.php

 /**
     * Gets the title attribute.
     *
     * @return string
     */
    public function getTitleAttribute()
    {
        return $this->post_title;
    }

    /**
     * Gets the slug attribute.
     *
     * @return string
     */
    public function getSlugAttribute()
    {
        return $this->post_name;
    }
    /**
     * Gets the type attribute.

[2017-08-10 13:27] omzy83 opened #301 "Create posts"
Is it possible to create posts using Corcel? I cannot find any documentation in relation to this.

[2017-08-10 13:49] jgrossi commented on #301
Hi you can do anything Eloquent does, like `Post::create()`. Check Eloquent's documentation for more information.

[2017-08-10 13:49] #301 closed

[2017-08-10 13:57] omzy83 commented on #301
Thanks. But how do we add field data? For example I have a contact form, when you submit the form it should save all the fields such as first name, last name, email address, etc.

I know how to save with Eloquent but how do we save it in WordPress format?

[2017-08-10 14:00] jgrossi commented on #301
Then you have to add post and post meta data. Meta is a relationship in Post class.

[code]

[2017-08-10 15:52] yahyazini commented on #300
Thanks, that did the trick!
So do I have to create accessors for each attribute in any custom model that mirrors a wp table?
Is this somewhere in the docs?

[2017-08-10 16:00] JeanHules commented on #197
Ok. I figured out the issue. I was using an older version of this code.

One more brain buster.. I am having issue retrieving the parent nav items. Can you explain how I would do this?

My Code:

[code]

This does not work.

[2017-08-10 16:57] omzy83 opened #302 "Contact Form 7 integration"
I'm looking to integrate Contact Form 7 with Corcel. So for example I would create the form in CF7 and then output the form in my Laravel view, (possibly using the shorttag?).

Then I would submit the form back to CF7 which will provide a JSON validation response. If validation is OK then it would process the submission as normal.

Is this possible to do?

[2017-08-11 01:29] jgrossi commented on #300
That's not necessary. The post class has a aliases property that maps those accessors with the correct attribute. Is this not working?

[2017-08-11 20:25] yahyazini commented on #300
@jgrossi I definitely had to add all those accessors in order for my Post model to function correctly.

[2017-08-12 02:43] bridgeport commented on #300
I'm also getting this same error even using an extended Page or Post class using Laravel v5.4.31 and Corcel v2.4.0. I'm also experiencing this error when calling Corcel directly within a controller, as such:

[code]

Here's what's being outputted in whoops:

[code]

[code]

Arguments:
[code]

Thanks.

[2017-08-12 14:47] Dartui commented on #300
Simplest way to reproduce:
[code]
That error occurs because of `title`, `slug`,  and others are in `appends` variable. Here you can look how Laravel treats that appended keys: https://github.com/laravel/framework/blob/5.4/src/Illuminate/Database/Eloquent/Concerns/HasAttributes.php#L101

[2017-08-15 16:22] AstralProgrammer commented on #271
Thanks for the responses.
I've create a new model instead. Inside that model, I set the db connection as an argument upon __construct()  which is set to wordpress by default like how @marcoboom mentioned. By doing so I could easily switch to other site inside the network. I did merge() on the results in cases that I needed aggregated data

[2017-08-15 16:26] AstralProgrammer commented on #272
I'm trying to limit the fields that are return by the collection. Instead of giving the entire list, is there a way to just get multiple specified fields.
Currently $posts->pluck($thefield) works but is it possible to get multiple fields? Like $posts->get($array) where $array=[field1, field2] rather than have 2 plucks().

[2017-08-15 21:01] Dartui commented on #272
@AstralProgrammer you should look first into Collection documentation. There is method named `only` which is doing exactly what you want: https://laravel.com/docs/5.4/collections#method-only

[2017-08-16 14:57] kampit opened #306 "Handling exception invalid image for the thumbnail size"
https://github.com/corcel/corcel/blob/33e66c5fa81e52c9b6385f56072a8fc5ed463bcb/src/Model/Meta/ThumbnailMeta.php#L49

How do I handle exception, if the image size is null for thumbnail, medium, large & full?

`$post->thumbnail->size('medium')['url']`

If null return to default image.

[2017-08-16 19:01] Dartui opened #307 "Problem with meta after extending User model"
I am trying to extend `User` model (lets name it `Customer`) and I want to use meta relation. Unfourtunately, in `HasMetaField` trait there are hard-coded model classes which are mapped to meta model:
[code]
Now, code like this: `Customer::find(1)->meta` gives me meta from `wp_postmeta` for post with id 1 because of fallback to `Post` class:
[code]

[2017-08-16 19:12] jgrossi commented on #307
I think this was fixed in dev branch, please take a look. If yes I'm gonna tag a new release.

[2017-08-16 19:23] Dartui commented on #307
This is how it looks in dev: https://github.com/corcel/corcel/blob/dev/src/Traits/HasMetaFields.php#L195

I could push some tests if you want

[2017-08-16 19:36] Dartui commented on #307
Possible solution:
[code]

[2017-08-17 12:28] grafxflow opened #309 "Keep getting Class 'Corcel\Post' not found"
I have tried to implementing all the elements but keep getting.

`Class 'Corcel\Post' not found`

UPDATE: I have it working using the default.

`$posts = Corcel\Model\Post::all();`

but not the one below which I am guessing is an alias of the above.

`$posts = Post::all();`

[2017-08-17 14:01] grafxflow commented on #309
Is this correct way when placing **post.php** in the **Controllers**?

`<?php
namespace App\Http\Controllers;

use Corcel\Model\Post as Corcel;

class Post extends Corcel
{
    protected $connection = 'wordpress';
}`

[2017-08-17 14:04] Dartui commented on #309
Please read this: https://github.com/corcel/corcel#namespace-change. There is a bit of unchanged class namespaces in documentation

[2017-08-17 14:14] grafxflow commented on #309
Yes above cheers.

[2017-08-17 16:15] kampit commented on #306
Currently I removed the exception

    public function size($size)
    {
        if ($size == self::SIZE_FULL) {
            return $this->attachment->url;
        }

        $meta = unserialize($this->attachment->meta->_wp_attachment_metadata);
        $sizes = Arr::get($meta, 'sizes');

        $data = Arr::get($sizes, $size);

        if(is_array($data )) {
            return array_merge($data,

[2017-08-18 10:00] grafxflow opened #310 "A few questions regarding best practise"
Hi,

If a person using WordPress and for example choose to press such things as preview I am guessing these options are lost. Or is it possible to change the default preview url to something I could create in Laravel?

https://www.cyberciti.biz/faq/php-wordpress-change-post-url-via-preview_post_link-filter/

Regarding categories and tags etc. These can still be automatic and there is no requiremen

[2017-08-18 18:59] Dartui commented on #310
You have to implement almost everything by yourself: routings, controllers and views. Corcel gives you models (not only, but mostly) to interact with database.

To make your routing works you cannot use dynamic parameter as the first element after root of your website for everything (categories, tags, posts, pages...). You have to do it like Wordpress - put prefix before slug. This is how you can

[2017-08-19 16:07] #306 closed

[2017-08-19 16:08] jgrossi commented on #310
Maybe it would be nice to create a plugin or something like this to include some Laravel routes according the WP routes, but I guess letting this opened is better to allow the dev to customize these routes.

[2017-08-19 16:08] #309 closed

[2017-08-19 16:13] jgrossi commented on #302
Why don't you use the ShortTage with Corcel? You'd have to just include it.

[2017-08-19 16:13] #297 closed

[2017-08-19 16:14] jgrossi commented on #298
Hm you want to do the opposite, I guess. It's possible but in this case you should add composer in WP and then load the `illuminate/database` package, OR include Laravel's `bootstrap.php` file inside WP.

[2017-08-19 16:44] Dartui commented on #310
Publishing resources via vendor:publish would be nice improvement

[2017-08-19 20:48] Dartui opened #326 "Each PostBuilder instance has post_type in where clause"
I am trying to implement simple `search` method for Post model. My code looks like this:
[code]
This code generates query like this:
[code]
As you can see, there is `post_type` clause twice. It's because `$query` which is passed to `where` clousure is generated with `newEloquentBuilder` method. This method put `post_type` to `$query` for every query builder.

For now I have created simple solution

[2017-08-19 20:52] Dartui commented on #300
@yahyazini @anujdhingra11 @bridgeport could you check dev branch if this is working? Thanks in advance

[2017-08-20 18:50] jgrossi commented on #307
Can I close this? I think it's fixed, right?

[2017-08-20 20:21] Dartui commented on #307
Oops, I have removed branch by mistake. AFAIK problem still occurs and need to be fixed

[2017-08-20 22:06] bridgeport commented on #300
@Dartui This fixes it for me. Thanks.

[2017-08-20 22:11] yahyazini commented on #300
@Dartui, that did it!

[2017-08-23 09:06] MLDev2 opened #329 "How to use Page Templates"
I understand that Corcel is largely to help with DB stuff but what I don't understand is where I should be putting my page templates. In the admin, I can set a page to belong to a template, which would exist in the template-parts folder.
Laravel has its own views folder where layouts and views are stored. Should I be creating my templates in the wordpress folder or laravel folder? And how can I ch

[2017-08-23 09:20] Dartui commented on #329
Please look at this question: #310.

The most important thing about Corcel is that it does not load any WordPress files. Templates created in theme will be not recognized by Corcel, because they are WordPress templates, not Laravel.

To achieve something like different templates for pages you can get `_wp_page_template` page meta:
[code]
and then extend view based on this variable, for example
[co

[2017-08-23 09:30] MLDev2 commented on #329
@Dartui thanks for the response.

I have the following which returns a page with loads of meta:
[code]
but the `dd` returns null. Otherwise this would be a great solution for me. Also note that the list of templates to choose from (in the admin) is based on existing files in the `wp/template-parts` folder, yet I want to move my files into the laravel `views` folder (including templates).

If there

[2017-08-23 10:04] Dartui commented on #329
Maybe something like this in `corcel.php` config would work?
[code]
I will think about this :+1:

[2017-08-23 10:27] MLDev2 commented on #329
What I have done in config/view.php is this:
[code]
which seems to be working if I put my templates in the wordpress folders (this could work for me). Still not getting any template info in the meta though.

[2017-08-24 10:20] jakobbuis opened #330 "Category-class missing: docs out of date?"
After upgrading to 2.4.0 I run into the problem that the Category cannot be found. However, it is still(?) [included in the readme file](https://github.com/corcel/corcel#cats):

[code]

Should this be removed, or is the class missing for some other reason?

[2017-08-24 10:42] Dartui commented on #330
As I mentioned in #309, documentation is a bit outdated.

`Category` is WordPress build-in `Taxonomy`. You can get category in two ways:
- get it directly from `Taxonomy` class (it will give you instance of `Taxonomy` class):
[code]
- extend base `Taxonomy` class (it will give you instance of `Category` class):
[code]
and in controller
[code]

[2017-08-25 02:47] FR6 commented on #66
If it helps anyone, here is the code to get Posts translated in a specific language with the plugin WPML:

[code]

[2017-08-26 17:36] Dartui commented on #293
https://github.com/Dartui/corcel-woocommerce

This is very early attempt for WooCommerce integration and I am still working on it. You can actually create with this plugin something like this:
![obraz](https://user-images.githubusercontent.com/2657856/29743549-19fc3538-8a95-11e7-8b5a-7caa8f33c14d.png)
![obraz](https://user-images.githubusercontent.com/2657856/29743553-2a9e60fa-8a95-11e7-9352-9bb92

[2017-08-26 18:44] jgrossi commented on #293
@Dartui amazing job! I saw in your `composer.json` file you're referencing `corcel/woocommerce` in Github. I'm gonna create that repo and add you permissions to push, ok? thanks for this work!

[2017-08-26 18:47] jgrossi commented on #293
@Dartui you should receive an invitation to join `corcel/woocommerce` repo ;-)

[2017-08-26 19:17] Dartui commented on #293
@jgrossi thanks! I am going to push some commits today 😃

[2017-08-27 17:21] jakobbuis commented on #330
Ah, great. Thanks for the pointer :) I'll see if I can find the time to make some docs-PRs

[2017-08-27 17:21] #330 closed

[2017-08-30 20:41] fjoho opened #331 "Laravel 5.5"
Will this work with Laravel 5.5?

[2017-08-30 21:04] jgrossi commented on #331
I guess no. We're working in the `2.5` branch to be compatible with Laravel 5.5. Corcel 2.4 is compatible with Laravel 5.4.

[2017-08-30 21:04] #331 closed

[2017-08-30 21:05] jgrossi commented on #66
@FR6 can you share this creating a PR for us? Thanks!

[2017-08-30 21:15] #300 closed

[2017-08-30 21:15] #326 closed

[2017-08-30 21:18] jgrossi commented on #302
About the JSON response you can do that using Middlewares.

[2017-08-30 21:20] jgrossi commented on #286
@kevinkiel did this solve your problem?

[2017-08-30 21:23] fjoho commented on #331
When do you think it's ready?

[2017-08-30 21:46] jgrossi commented on #331
I have to do make some tests passing for 5.5 yet. I don't have a ETA for that, but I hope in the next weeks.

[2017-09-01 13:57] fjoho commented on #331
Is there something I can do to help?

[2017-09-01 17:40] jgrossi commented on #307
@Dartui, once you're contributing a lot with Corcel (and thanks for that), let's join our Trello board, what do you think? https://trello.com/b/9F9UfiOD/corcel-php

[2017-09-02 09:03] florianflock opened #333 "Laravel 5.5 Support"
Hi @jgrossi,

for better tracking, I have closed the pr and opened this issue.

Thanks for interacting so fast. I didn't dive deep into it. May be `\Corcel\Model` is necessary because of the custom relations? L5.5 is only changing method `Model::belongsToMany()`, as I can analyze. There is one more key.

Looking forward to your feedback! 😁

[2017-09-02 16:48] smoothlikejazz commented on #333
Just ran into this today, thanks for creating @florianflock.

[2017-09-02 20:26] Dartui opened #335 "Do not extend PostMeta in other meta classes"
Now in `dev` branch, each meta class (`CommentMeta`, `TermMeta`, `UserMeta`) is extending `PostMeta` class. I allows to write strange code which is returning null rather than throwing errors:
[code]

I will make PR in near future which will move mutual code into base `Meta` class.

[2017-09-02 20:59] Dartui opened #336 "PostMeta taxonomy method"
I am trying to understand what `taxonomy` method is doing in `PostMeta` class. It has totally no sense. Also I cannot find any reference in code to this method. Can it be deleted?

PR which include this change: https://github.com/corcel/corcel/commit/3ddba29cbdb003e7ec10a5be03568fd8d6bab941#diff-b6fb6ff99943caafe9209b56ee5e1b36R33

[2017-09-11 08:59] CurtisSaunders commented on #333
I am also experiencing this issue with the belongsToMany method on Laravel 5.5

[2017-09-11 17:38] jgrossi commented on #333
I'm gonna try to fix that today. If anyone can send a PR before that I really appreciate ;-)

[2017-09-11 18:08] jgrossi commented on #333
@CurtisSaunders @smoothlikejazz can you test that with `2.5` branch? it seems all issues are fixed. just waiting for confirmation to tag the new release :P

[2017-09-11 18:21] jgrossi commented on #333
`2.5.0` is now tagged ;-)

[2017-09-11 23:45] smoothlikejazz commented on #333
Thanks @jgrossi, I was able to update my local environment and run my integration tests, everything is working for me.  Thanks again.

[2017-09-12 11:23] jgrossi commented on #333
@smoothlikejazz nice! any bug let me know please ;-)

[2017-09-12 11:23] #333 closed

[2017-09-12 11:27] jgrossi commented on #336
Actually, I think it's used to get taxonomy from meta values, that's the reason. This is old I guess, I don't remember really why it's there, but there's a reason :-) This is even marked as `@todo test` but it seems I forgot to take a look on that code.

[2017-09-12 11:32] jgrossi commented on #335
Got it.

[2017-09-12 11:33] jgrossi commented on #329
@MLDev2 aren't your WP template files in the `public` directory? Maybe `base_path('public/...')`?

[2017-09-12 11:33] #310 closed

[2017-09-12 11:34] #302 closed

[2017-09-12 11:35] #269 closed

[2017-09-12 11:35] #298 closed

[2017-09-12 11:36] jgrossi commented on #274
@thaiscristine is this fixed in version 2?

[2017-09-12 11:36] #274 closed

[2017-09-12 11:36] #284 closed

[2017-09-12 11:36] #271 closed

[2017-09-12 11:37] jgrossi commented on #262
@Jossnaz if you have any PR to send please send it to `2.3` branch ok? it's only related with Laravel 5.3 stuff.

[2017-09-12 11:37] #262 closed

[2017-09-18 17:07] floflock opened #340 "Readme issue"
Hey,

i think under https://github.com/corcel/corcel#creating-your-own-model-classes the code example is wrong. It is `use Corcel\Model\Post as Corcel;` instead of `use Corcel\Post as Corcel;`

[code]

[2017-09-18 18:12] jgrossi commented on #340
@florianflock you're right! would you like to send a PR to fix that?

[2017-09-19 11:43] floflock commented on #340
PR #341 was created.

[2017-09-19 13:11] jgrossi commented on #340
Thanks ;-)

[2017-09-19 13:11] #340 closed, assigned to nobody

[2017-09-20 14:06] KyawThuWin opened #342 ""jgrossi/corcel": "dev-master", for laravel 5.0.*"
I just have composer update with "jgrossi/corcel": "dev-master", for laravel 5.0.*

Right now, I go the problem -

ErrorException in \vendor\jgrossi\corcel\src\Post.php line 516:
Trying to get property of non-object
in Post.php line 516
at HandleExceptions->handleError('8', 'Trying to get property of non-object', '\vendor\jgrossi\corcel\src\Post.php', '516', array('attributes' => array('ID' => '6'

[2017-09-20 14:07] KyawThuWin commented on #342
I tried with -

Post::where('post_type','post')->where('post_status','publish')->with('attachment','gettaxonomiestag','gettaxonomiescat')->get();

[2017-09-20 14:12] jgrossi commented on #342
Hey, sorry but Corcel does not work in Laravel 5.0, only from 5.1 to 5.5.

For 5.1 please use Corcel 2.1, for 5.2 Corcel 2.2, ... and for Laravel 5.5 Corcel 2.5.

[2017-09-20 14:47] KyawThuWin commented on #342
I just used old version since before !!!  thank you!! I will trace it

[2017-09-20 15:01] jgrossi commented on #342
@KyawThuWin how long? Corcel was updated to version 2 on August, so once you're using `master` branch it's updated with the last version.

I suggest you use the last `v1.4.5` then, maybe it works with Laravel 5.0.

[2017-09-20 15:03] KyawThuWin commented on #342
Dear @jgrossi,

I just used for long time(it may be first of 2016).I don't remember when I was using. I never updated it before.

[2017-09-20 15:04] jgrossi commented on #342
@KyawThuWin we, you've used `master` branch always. Now it's updated. Try to use:
[code]
I think it'll work. Cheers.

[2017-09-21 10:22] MLDev2 commented on #329
@jgrossi no I put the wordpress files in a root folder called `wordpress`. That works fine, I just cant determine what template needs to be used based on what is set in the admin. Really would like to get that working as it's the only thing stopping me use corcel on live sites.
Just to re-iterate:
`dd($page->meta->_wp_page_template);`
returns null

[2017-09-21 11:49] jgrossi commented on #329
@MLDev2 did you check if there's a `_wp_page_template` (`meta_key`) in `wp_postmeta` table for that page?

[2017-09-21 12:24] MLDev2 commented on #329
@jgrossi Not specifically. I would not have to do that check in vanilla wordpress. I am assuming that if I set the page to have a Page Template in the admin, it should be available on the resultant query.

[2017-09-21 16:33] jgrossi commented on #329
@MLDev2 I'm only asking you to check in the database if that record exists for the given post because Corcel works with the WP database, not WP logic. I did a local test, setting a custom page template for a custom page and it's getting the `_wp_page_template` normally.

[2017-09-22 07:38] MLDev2 commented on #329
@jgrossi Okay this is very embarrassing. I thought I would just try and set it up again and now I can see the `_wp_page_template` key in the page meta. I could have sworn it wasn't there before. Very sorry to waste your time. I'm now looking forward to developing further with this plugin.

[2017-09-22 14:36] jgrossi commented on #329
@MLDev2 anything just let me know. Cheers.

[2017-09-22 14:36] #329 closed

[2017-09-22 17:38] #342 closed, assigned to nobody

[2017-09-26 11:10] #250 closed

[2017-09-27 18:24] bhazboun123 opened #344 "Laravel User to login to wordpress"
Hi

is it possible with Corcel for a laravel User ( users table in Laravel) to be able to login to wordpress as an author? or any other permission?

[2017-09-28 11:23] jgrossi commented on #344
Hi @bhazboun123. Actually Laravel and WP store user's password using different approaches. Corcel doesn't allow that but maybe this package can help you or can be just a start point for you. https://packagist.org/packages/hautelook/phpass

[2017-09-28 11:23] #344 closed, assigned to nobody

[2017-10-06 12:25] jbalzar opened #345 "Integrate with Lumen 5.2"
Hi, I'm trying to integrate this with Lumen 5.2, is there any guide to make this work?

[2017-10-06 16:10] jgrossi commented on #345
Hi @jbalzar actually there's no additional configuration to make it work. Are you having any issue with Corcel and Lumen? Basically, you have to create the WordPress database connection, set it in the configuration file `config/corcel.php` and start getting data from `Corcel\Model\Post` for example.

[2017-10-07 23:57] jbalzar commented on #345
I decided to use Laravel instead, thanks

[2017-10-07 23:57] #345 closed, assigned to nobody

[2017-10-08 00:06] jbalzar opened #346 "Meta field name with dash"
Hi, Is there a way to get post meta field with dash in field name beside using Laravel collection method?

`$post->meta->where('meta_key', 'field-name')->first()->meta_value`

[2017-10-08 07:30] Dartui commented on #346
[code]

or

[code]

Eventually try this:

[code]

[2017-10-08 10:36] jbalzar commented on #346
Got it, Thank you!

[2017-10-08 10:36] #346 closed, assigned to nobody

[2017-10-09 11:23] jgrossi commented on #346
thanks @Dartui for answering and thanks @jbalzar for the question. anyway, I've just added `getMeta()` method in `HasMetaFields` trait. So @jbalzar you can do something like this (only from `2.5` branch) too:

[code]

[2017-10-09 19:51] #286 closed

[2017-10-13 15:19] #307 closed

[2017-10-13 15:20] #335 closed

[2017-10-13 15:21] #336 closed

[2017-10-13 15:21] jgrossi commented on #336
Fixed with #337

[2017-10-18 18:16] seanramey82 opened #349 "User Roles"
- Corcel Version: 2.4.1
- Framework Name & Version: Laravel 5.4
- PHP Version: 7.1
- Database Driver & Version: Eloquent

### Description:
Does Corcel support setting user role meta data. Other user meta data is supported, but I don't see anything analogous in Corcel so the WP_User method add_role.

Thanks!

### Steps To Reproduce:

[2017-10-18 18:19] bhazboun123 opened #350 "How to generate attachment metadata with Corcel"
https://core.trac.wordpress.org/browser/tags/3.8.1/src/wp-admin/includes/image.php#L72

I am trying to generate this function in Corcel is that possible? this returns and array which gets inserted in wp_post table

[2017-10-18 18:23] jgrossi commented on #349
@seanramey82 hey! I guess you'd like to add a new role, right? if I'm correct this is done in `wp_options` table. there's a row `wp_user_roles` and a serialized PHP array. actually the array is something like this https://pastebin.com/raw/Berr2YzT.

by default there's no way to do this inside Corcel, but this is a simple feature I guess. if this is exactly what you want I can implement this new fe

[2017-10-18 18:26] jgrossi commented on #350
@bhazboun123 hey.. actually Corcel itself cannot do that, you can get the related attachment and get all meta fields you want, but something ready to go there's not yet... this can be implemented, of course...

just to make it clearer, would you like to get all metadata from a given attachment?

[2017-10-18 21:13] bhazboun123 commented on #350
Hi, its not about getting the metadata attachement from wp_post , its about generating it correctly like how wordpress does and inserting it to the table,
https://core.trac.wordpress.org/browser/tags/3.8.1/src/wp-admin/includes/image.php#L72

see this function returns an array , I want to create a function like that but in laraval that does the same thing and it returns the array , and then we upd

[2017-10-19 12:38] dasilvaluis opened #351 "Compatibilities issues with Lumen 5.5"
- Corcel Version: 2.5
- Framework Name & Version: Lumen 5.5
- PHP Version: 7.0

Hello,
I found a couple of issues installing Corcel in Lumen framework.

1) config_path() is not defined like in Laravel. A workaround is to add an helper file like this https://gist.github.com/mabasic/21d13eab12462e596120. I added in a helper file in the Lmen setup, however it would be better to add this solution in t

[2017-10-19 12:42] jgrossi commented on #351
@luism-s thanks for reporting this.

1. yep, you're right. I think this is related to Lumen, not Corcel.
2. maybe creating a config option in `config/corcel.php` to allow user to inform if the auth should be configured or not.

thanks for that.

[2017-10-19 12:59] jgrossi commented on #350
hm yep, working with upload, in this case, would be complex... maybe implementing an upload using a base64 string or something similar to that.. let's think about that first, but it seems to be a great improvement to Corcel ;-)

[2017-10-19 14:03] dasilvaluis commented on #351
1. It is definitely related to Lumen
2. But the issue happens before `config/corcel.php` is generated. Maybe a condition could be made in the `boot()` method of `CorcelServiceProvider`, checking if it is a Laravel or Lumen setup, and register AuthProvider if it is Laravel

[2017-10-19 15:14] bhazboun123 commented on #350
yep it will be ;)

[2017-10-20 20:04] seanramey82 commented on #349
Hi,

Yes this is exactly what I want.

Thanks!

[2017-10-20 20:31] jgrossi commented on #349
@seanramey82 I think #352 solves what you need. Let me know if you need anything special.

[2017-10-20 21:41] seanramey82 commented on #349
Yes, it does.Thanks!

[2017-10-23 14:40] jgrossi commented on #351
Fixed with #353. Thanks @adrianogl.

[2017-10-23 14:40] #351 closed, assigned to nobody

[2017-10-23 14:42] adrianogl commented on #351
;)

[2017-10-23 19:30] dasilvaluis commented on #351
Props @adrianogl

[2017-10-24 05:52] alvintheodora opened #354 "Passing Auth Facade to Wordpress"
Hi,
I use Laravel for my e-commerce, and use wordpress for just the blog module.
I simply want to use auth()->user()->name in Wordpress, and I don't know how to apply this with corcel.
Any suggestion is really appreciated, thank you.
Have a nice day!

[2017-10-24 11:34] jgrossi commented on #354
Hi @alvintheodora do you want to use Laravel's user info inside WordPress or WordPress user's info inside Laravel?

[2017-10-24 12:41] alvintheodora commented on #354
Hi @jgrossi , I want to use Laravel's User info inside WordPress. Is it possible though?

[2017-10-24 15:24] jgrossi commented on #354
@alvintheodora no, Corcel does the opposite. actually you can, but not using Corcel directly. You should have to include composer `autoload` file inside WordPress, like `functions.php` for example. Then you should be able to [use Eloquent outside Laravel](https://github.com/illuminate/database), creating a `User` model, and connecting the database into it. So, inside WordPress you would have a `Us

[2017-10-24 16:45] Dartui commented on #354
This should be noted that Laravel cookies are encrypted, so it will be not so easy to share them between Laravel and WordPress

[2017-10-24 16:54] jgrossi commented on #354
@Dartui yep good call. You can of course add a new cookie to make it easier to get, less secure, but it's possible.

[2017-10-24 17:25] alvintheodora commented on #354
@jgrossi I see. Your suggestion is really cool, but I think it is not worth the effort for setting the `functions.php` and the cookie, to just pass the auth facade.

I have made the all the database in Laravel, so now, if I want to use Corcel, I just need to import the tables to wordpress db and add wp_prefix, then do the database setup, is it correct?

[2017-10-24 17:59] jgrossi commented on #354
@alvintheodora no, actually WP has a very customized database, it's a CMS not a framework. Corcel  allows you to use some models/classes like WP stores posts/pages in the database.

What's your main goal? It seems you have an app running in Laravel and you only want a blog from WP. You have to create the WP blog and let users create posts, then get those posts inside the Laravel app using Corcel.

[2017-10-26 06:44] alvintheodora commented on #354
@jgrossi Yes, it is exactly like what you said. I have an app running in Laravel and I only want a blog from WP.
I can think of fetching the posts inside Laravel using Corcel, but I don't know how to insert Comment to the wp_comment using Corcel. Is it possible with Corcel?

[2017-10-26 12:43] jgrossi commented on #354
@alvintheodora using only Corcel no, but this is easy using Eloquent:

[code]

[2017-10-26 12:48] alvintheodora commented on #354
@jgrossi how about the `comment_author `column? I want to fill that with the logged in user in my Laravel app. Can I fill it with `auth()->user->name`. So it would be like:
`Corcel\Model\Comment::create(['comment_author' => auth()->user()->name, ...])`

Can I do that ? If I do the` auth->user()->name`, does Corcel fetch it from `wp_user` table or the Laravel's default `users` table

[2017-10-27 14:43] DanDvoracek opened #355 "Exception error"
Getting a weird error after running `php artisan config:clear`.

[code]

Any idea how to get around that?

[2017-10-27 14:48] jgrossi commented on #355
This is not related to Corcel, but Laravel. Take a look on Laravel folder permissions.

[2017-10-27 14:48] #355 closed, assigned to nobody

[2017-10-27 14:52] DanDvoracek commented on #355
Hmmm alright.. Never saw that before. I'll have a look then. Cheers

[2017-10-27 15:12] jgrossi commented on #355
You're welcome!

[2017-10-27 16:05] DanDvoracek commented on #355
I have to say it seems harder to fix than I thought.

I don't have any files anymore in my `storage/framework/cache` folder and it keeps complaining about it. Worse I can't run any artisan commands. Would you have any hint about it ? It only complains about the corcel files for some reasons.

[2017-11-03 10:41] saimiris opened #356 "Thumbnail images URLs"
- Corcel Version: 1.1.5
- Framework Name & Version:
- PHP Version:
- Database Driver & Version:

### Description:
Is there a way to simply obtain the URLs of the thumbnail images or a given post?

### Steps To Reproduce:

[2017-11-04 15:01] SapneshNaik opened #357 "caching?"
Does the package provide any way to cache the db queries made?  and does caching on the back-end (WordPress) side yield any benefits? I am looking to improve the page speed by caching, any insights and tips would be really helpful!

[2017-11-16 13:37] drosendo opened #364 "Help! Corcel automatic data fecth from route"
Hi,

Hope some one can point me on the right direction here.

Currently all pages are created in WP and I will certainly not register all paths, because they can be whatever the user creates so... what I have so far is, a route that will handle all the requests:

`Route::get('{slug?}/{slug2?}/{slug3?}', 'LayoutsController@index');`

than the controler to get the respective page/post type, but im a

[2017-11-20 16:41] HenriqueSPin opened #365 "Page as a child menu item return null to parent() method"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.4
- PHP Version: 7.1
- Database Driver & Version: MySQL Ver 14.14 Distrib 5.7.17

### Description:

When the menu item is a child and a page at the same time, the parent is null.

### Steps To Reproduce:

Create a menu in your backoffice with a page as a root item child. Iterate this menu in laravel or blade or PHP. The $item->parent() or

[2017-11-22 14:02] nkrh opened #366 "Cannot access logged in WordPress user from Laravel app"
- Corcel Version: 2.4
- Laravel Version: 5.4
- WordPress Version: 4.6.6

Hi,

I'm going to access logged in WordPress user from Laravel app. This is my hook on WordPress:

[code]
The login process is success in WordPress but in my Laravel controller the user, `Auth::user()`, always returns null.

Am I missing something?

Thanks!

[2017-11-29 04:27] rundef commented on #366
Hi,

The `validateCredentials` doesn't actually login the user, it just checks that the password is OK for the given user.  You will have to login the user manually, for example:

[code]

[2017-11-30 17:57] AubakirovN opened #368 "Post views count"
- Corcel Version: 2.5.x
- Framework Name & Version: Laravel 5.5.x
-WordPress Version: 4.8.3

### Description:
Hello everyone!

How to do post view counter? I want to display post views count.
I think it is possible with meta data.

Thanks in advance!

### Steps To Reproduce:

[2017-11-30 18:22] jgrossi commented on #368
Hi @AubakirovN. Are you using some type of plugin to collect the number of views?

[2017-11-30 18:51] AubakirovN commented on #368
Hi!

No. I want to view counter without plugin.
I've heard that it is possible by meta data.
But I can't find solution yet.

For this we need Session and increment count, right?

[2017-11-30 20:11] jgrossi commented on #368
@AubakirovN actually you can do this in the Laravel side, creating a database table to store the `post_id` and `counter`. Each time someone reach the "view post" page it increments the counter for that ID. Just that.

[2017-12-01 10:51] jgrossi commented on #364
Hi @drosendo in Laravel you can create routes using regexp, so you can force a `/{lang?}/...` where `lang` should have just 2 chars, etc.

To make slugs infinity you can use a regex with something like `/{slug}` and set the slug to `(.*)` in route regexp. Take a look at the Laravel documentation about routes with regexp params.

[2017-12-01 11:04] Dartui commented on #364
As far as I know Laravel will change address, for example /category/my-category/some-slug, into 3 parameters: `category`, `my-category` and `some-slug`. So in route `/{path}` under `path` variable will be only `category`, not whole address.

[2017-12-01 11:05] jgrossi commented on #364
@Dartui even setting the regexp `->where('path', '(.+)')`?

[2017-12-01 11:06] Dartui commented on #364
@jgrossi as far as I know, yes. I will try it in a minute and give feedback here

[2017-12-01 11:08] Dartui commented on #364
Nevermind, it works like a charm. Maybe in the past I have done something wrong :wink:

[2017-12-01 11:10] drosendo commented on #364
Hey guys!

But hte question maintains, how to generalize this and always get the correct page/post_type/whatever data from WordPress with corcel?

Cheers,
David

[2017-12-01 11:12] jgrossi commented on #364
@Dartui nice 😉

@drosendo there's no right way to do this, you have to build it according to your logic, you can prefix it with some letter to make easier to identify:

[code]

Just an idea. But the goal here is not to fix this path like WordPress does, but make it customizable, according to your needs.

[2017-12-01 11:15] Dartui commented on #364
@drosendo there is no 100% correct answer. Routes with languages are added by plugin to WordPress, so if one plugin can do that then every plugin can modify WP routes. You cannot create universal route for everything.

[2017-12-01 11:17] drosendo commented on #364
damm... 👍

Yeah I have to work it out. thanks @jgrossi @Dartui

[2017-12-01 11:20] jgrossi commented on #364
welcome @drosendo 😃

[2017-12-01 11:20] #364 closed, assigned to nobody

[2017-12-01 11:23] jgrossi commented on #366
@nkrh are you on the WordPress app, right? because you cannot use WP hooks inside a Laravel app. Corcel does not support that. If you're inside the Laravel app, you can login a WP user, that's true, but I don't think you can get a logged WP user, because you're using different apps, and different sessions. Did I miss something about your question?

[2017-12-07 01:09] nkrh commented on #366
@rundef Tried this, but it still did not log me in to the Laravel app.

@jgrossi Yep, I'm in the WordPress app. You can access WordPress logged in users by writing your own Guard: https://laravel.com/docs/5.5/authentication#adding-custom-guards. Using the Guard with this package is a great combination if you want WordPress manages your users in your Laravel app.

Thanks you all 😺

[2017-12-07 01:09] #366 closed, assigned to nobody

[2017-12-09 12:59] #368 closed, assigned to nobody

[2017-12-09 13:00] jgrossi commented on #357
Hi @SapneshNaik actually the cache usage is up to the developers. You can use Memcache or Redis for that, if you want. There's no default cache provider from Corcel but there're many from Laravel you can use.

Anything just let me know, ok? Thanks! 😉

[2017-12-09 13:00] #357 closed, assigned to nobody

[2017-12-09 13:05] jgrossi commented on #356
Hey @saimiris you can take a look on the `thumbnail` relation in `Post` object:

[code]

Just go to `Post` model, line 179 on `2.5`.

Thanks for sharing! 😉

[2017-12-09 13:05] #356 closed, assigned to nobody

[2017-12-09 13:09] jgrossi commented on #354
@alvintheodora it depends on the authentication provider you're using. If you're using our `AuthUserProvider` you can even configure the model you want to use in the `config/auth.php` file. Then you can ask for the Laravel `User` model or even Corcel `User` one. 😉

[2017-12-09 13:09] #354 closed, assigned to nobody

[2017-12-14 10:28] andreasbakir opened #370 "No clear instructions, will wordpress run standalone or in the same directory as Laravel?"
First of all great job on this package! I really like the WP backend and I love programming Laravel Apps. I only have one question where should I install wordpress? I would like to do something like this: http://laravelproject.com/wp-admin but the way I understand this package works is that Laravel runs on itself and wordpress as well. So that would mean that the frontend would be visible on http:

[2017-12-14 10:35] jgrossi commented on #370
Hi @andreasbakir thanks for the message. Actually Corcel works with the WP database. It doesn't matter if your WordPress installation is in server X and Laravel one server Y, they can be in different places, servers, countries, etc. The only thing you need to make sure Corcel will be working is creating a Laravel database connection pointing to the WP database and let Corcel knows.

On my blog the

[2017-12-14 10:38] andreasbakir commented on #370
hi @jgrossi thanks for the fast answer! Aah okay.. I understand, the problem I am having with this is that the wordpress backend is going to be on another domain, it would have been nice if you could access the wp-admin (wp cms backend) from within the laravel application something like, mylaravelproject.com/wp-admin or /backend or something else.

Anyway thank you for your reply!

[2017-12-14 10:40] jgrossi commented on #370
@andreasbakir you can do that creating a route in Laravel redirecting to the WP admin panel login page for example. You can even use NGINX to keep the URL the Laravel one but showing the WP admin page :-)

[2017-12-14 10:40] #370 closed, assigned to nobody

[2017-12-14 12:33] andreasbakir opened #371 "WPML"
Hi once again, I have been tinkering around with this awesome package, I am loving it! But I wanted to ask if WPML is supported, if so how does it work? If not I might help to build it :)

[2017-12-14 16:01] jgrossi commented on #371
Hi @andreasbakir. There's no support for WPML yet. Would you be interested in creating that?

[2017-12-15 10:03] andreasbakir commented on #371
I Will give it a try in January I am to busy at the moment

[2017-12-15 10:37] jgrossi commented on #371
👍 let me know and we reopen this issue. Thanks!

[2017-12-15 10:37] #371 closed, assigned to nobody

[2017-12-15 22:29] aswin-giri commented on #298
I have used this in a plugin. You will have to use composer.

composer require illuminate/database

And on plugin file do:

require PLUGIN_DIR_PATH.'/vendor/autoload.php';

/*database connection*/
$capsule = new Illuminate\Database\Capsule\Manager;
$capsule->addConnection([
        'driver'    => 'mysql',
        'host'      => DB_HOST,
        'database'  => DB_NAME,
        'username'  => DB_USE

[2017-12-19 13:14] amrokhudair opened #372 "Call to a member function connection() on null"
- Corcel Version: #.#.#
- Framework Name & Version:lumen
- PHP Version: 7
- Database Driver & Version:Mysql

### Description:
Hi
I installed the package on lumen ,when I want to use model , I get the error:
Call to a member function connection() on null
I used the below code to get the post info
     $post = \Corcel\Model\Post::find(31);

   echo $post->post_title;

My question is , where I should

[2017-12-24 03:44] khuehm1511 opened #373 "select post by meta"
select the post with the other meta condition 1 value.
Post::published()->hasMeta('status', 'Trailler')->get();

With laravel we can use where but it looks like Corcel has not provided that

[2017-12-24 04:04] #373 closed, assigned to nobody

[2018-01-08 19:05] seanramey82 commented on #349
Will this be merged in soon?

[2018-01-12 11:01] adiyya opened #374 "How to find WP User Role using Corcel from Laravel"
Hi Thanks for this Great Package.

- Corcel Version: 2.5
- Framework Name & Version: Laravel
- PHP Version: 7.0
- Database Driver & Version:

### Description:
How to find WP User Role using Corcel from Laravel

### Steps To Reproduce:
1. Get WP user details with User::find() method of Corcel
2. How to know the role of this user?

Thanks,
- Adi

[2018-01-12 11:17] Dartui commented on #374
User details and role are stored in `usermeta` table. Try something like this for role: `$user->meta->get('wp_capabilities')`

[2018-01-12 12:46] adiyya commented on #374
Thank you it resolved.

- Adi

[2018-01-12 14:16] adiyya opened #375 "How to get author posts, category posts, tag posts, post categories?"
- Corcel Version: 2.5
- Framework Name & Version: Laravel
- PHP Version: 7.0
- Database Driver & Version:

### Description:
How to get author posts? Means Need to get all posts of a particular posts. How to achieve it?

How to get category posts? I means how to get posts in a particular category.

How to get tagposts? I means how to get posts in a particular tag.

How to get post categories? how t

[2018-01-18 14:17] Giulia007 opened #376 "Mysql error"
- Corcel Version: the latest
- Framework Name & Version: Laravel 5.5
- PHP Version: 7

Hi, I have just installed Corcel on a Laravel project (on Homestead - Vagrant), where WP and Laravel share the same DB with the default connection 'mysql'. I have to keep a single database, cannot have two of them.

When running a simple query from the controller to try retrieving posts I get this error:
Base ta

[2018-01-18 14:21] jgrossi commented on #376
@Giulia007 hi thanks for sharing!

actually you have to set the `table_prefix` to `wp_`. I guess your WP install has `wp_` as prefix. So in your database connection `config/database.php` in the Laravel config you have to set that to make it working.

let me know! thanks!

[2018-01-18 14:34] Giulia007 commented on #376
I have done it and it works perfectly!! I believe it could be useful to have this hint added to the Github Corcel page.
Thank you soooo much for your help and the super fast reply!!

[2018-01-18 14:36] Giulia007 commented on #376
PS: since I was asked to add a prefix for Laravel tables, like 'la_' for instance, do you think this is still doable  now?
Thank you again! :)

[2018-01-18 14:42] jgrossi commented on #376
the README file has a sample database configuration, but if you're able to, please send a PR adding a quote or note about the `wp_` prefix just below the table:

![](http://snaps.jgrossi.com/2018-01-18-pe7w0o4cfp.png)

Thanks for helping.

[2018-01-18 14:50] Giulia007 commented on #376
Ok! I will try to do it as soon as possible!

[2018-01-18 14:51] jgrossi commented on #376
thanks! I'm gonna close this issue, but fell free to open it again if necessary! thanks

[2018-01-18 14:51] #376 closed, assigned to nobody

[2018-01-19 15:38] jgrossi commented on #298
Yep @ezoomllc actually you're using `illuminate/database` package as the `Capsule`, and this is exactly what Corcel does, but using its `Database` class wrapper.

[2018-01-19 15:39] jgrossi commented on #372
Hi @amrokhudair first so sorry about the late answer. These last weeks were busy, really sorry for let you waiting so long.

Answering your questions just add a new connection on Laravel's `config/database.php` file. You can have more information here: https://laravel.com/docs/5.5/database#configuration

[2018-01-19 15:39] #372 closed, assigned to nobody

[2018-01-19 15:41] jgrossi commented on #349
@seanramey82 sorry for being MIA. I'm gonna do a review on this new branch today and gonna merge this. thanks for waiting!

[2018-01-19 15:50] jgrossi commented on #375
Hi @adiyya thanks for sharing.

Corcel has relationships between its models, so you can do something like this:
[code]
All categories and tags are related to `Taxonomy` and `Term` classes. So to get all post's taxonomies:
[code]
You even have the `$post->terms` array, like you can see in the `Post` class.
[code]

Hope this helps. 😉

[2018-01-19 16:18] drosendo commented on #371
@andreasbakir check here what im doing

https://github.com/corcel/acf/issues/49#issuecomment-359013405

You may have to read the begining of issue also

Cheers,
David

[2018-01-20 05:46] adiyya commented on #375
Thank you. It helps a lot.

Again saying thanks a lot for this package.

Thanks,
- Adi

[2018-01-20 13:43] jgrossi commented on #375
welcome! 🙂

[2018-01-20 13:43] #375 closed, assigned to nobody

[2018-01-20 19:50] maxifarcilli opened #377 "get posts for a certain category"
- Corcel Version: 2.5.#
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.2

I am new using corcel.
I want to get the posts(title, content) for a certain category to show in a view.

[2018-01-21 10:01] Juhlinus commented on #377
https://github.com/corcel/corcel#taxonomies

[2018-01-21 17:19] #377 closed, assigned to nobody

[2018-01-26 18:53] g3luka opened #378 "I can not search posts from a category"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.1
- Database Driver & Version: 5.6

## Description:

I'm trying to do a category search to get your posts, but to no avail.
I tried two ways:

### Taxonomy::where('taxonomy', 'category')->slug('sports')->posts()->first();
Returns: "Call to undefined method Illuminate\Database\Query\Builder::posts()"

### Category::slug(

[2018-01-26 18:59] Dartui commented on #378
`Taxonomy::where('taxonomy', 'category')->slug('sports')` is still query builder, not taxonomy model. First, you have to get single taxonomy, then you can use `posts` relation.

[code]

[2018-01-26 19:09] g3luka commented on #378
It worked!
So good to talk to anyone who knows.

Thank you very much.

And congratulations on the work. Excellent this project.

[2018-01-26 19:09] #378 closed, assigned to nobody

[2018-01-31 11:17] OwenMelbz commented on #197
@jgrossi although you get the "Post" or what ever back - how would you build a menu from it? as far as I can tell it doesn't actually give you what the wordpress menu builder was designed for? e.g I imagine the point of the menu builder was to provide you the information like opening in new window, what the url to go to is, if its a custom url etc?

Have you got any vanilla PHP examples of how to

[2018-02-08 03:41] jilster opened #379 "Laravel 5.6 support"
- Corcel Version: 2.5.4
- Framework Name & Version: Laravel 5.6.0
- PHP Version: 7.1.4
- Database Driver & Version: MySQL 5.6.27

### Description:

I am trying to update Laravel to 5.6.0, but Corcel requires Laravel 5.5.*. I know Laravel 5.6 is very fresh (released yesterday), but could you look into supporting it? Thanks in advance!

### Steps To Reproduce:

- Update the Laravel version in compos

[2018-02-08 19:32] jgrossi commented on #379
Hey @jilster thanks for this. I'm gonna update Corcel soon, probably tomorrow, then we'll be Laravel 5.6 ready 😎

[2018-02-09 11:00] jgrossi commented on #379
@jilster @jaggy done! 🍻Release `2.6.0` now supports Laravel 5.6 🎉
All tests are passing, but please let me know any weird behavior.

[2018-02-09 11:00] #379 closed, assigned to nobody

[2018-02-09 11:15] jaggy commented on #379
That was amazing! Hope that wasn't too much pressure. Thanks so much. 🍻

[2018-02-10 15:42] pixelpeter opened #381 "How to get the meta_id for a specific meta_key"
- Corcel Version: 2.6.0
- Framework Name & Version: Laravel 5.6
- PHP Version:  7.1.x
- Database Driver & Version: MySQL 5.7.21

### Description:
I want to get the `meta_id` for a specific `meta_key` of the given `post_id`

### Steps To Reproduce:
This is what I'm doing so far:
[code]
Getting the `meta_value` is pretty straight forward and very Laravel like 👍🏻

Is there something similiar for gett

[2018-02-10 18:21] jilster commented on #379
Thanks, works like a charm!

[2018-02-13 18:20] drosendo commented on #63
@josec89 @fourstacks  @jgrossi  @ChristianGiupponi  a issue I found is that if no YOAST data is set for the page/post than it return empty, there should be some type of fallback, to get the custom generated (suggested) by YOAST.

based here on some work already referenced.

Would really appreciate some help here, I created a controller where i pass my content:

`$seo = Post::slug($slug)->with('att

[2018-02-24 02:21] ezequiel9 opened #385 "I don't really understand the proposal very well"
I don't understand why I would use this package?

I was wondering, this only is usable for simple websites and blogs.. Using laravel only for routes and views it's a waste (I think would be better use angular or react for a best combination)

The problem with all the cms is when you need to create a big platforms or crm, you probably needs feel free to manage your own code as you want to create a

[2018-02-24 09:46] codeserk commented on #385
This package provides a transparent layer between the CMS and your clients. But it's BE layer, you can use any framework you want if you use the laravel project as API and build your JS framework to use it. Or I think you can even use any JS framework you want to be running within the laravel project, injecting js in the blade files? (although not sure if that's ideal).

The point is that this is

[2018-02-24 22:53] ezequiel9 commented on #385
It make sense, thanks!.

[2018-02-24 22:53] #385 closed, assigned to nobody

[2018-02-28 19:23] matthewscalf opened #386 "Get Page By Full Url"
- Corcel Version: 2.5.4
- Framework Name & Version: Laravel
- PHP Version: PHP 7.1
- Database Driver & Version:

### Description:

I need to be able to find a page by the full url. The wordpress site currently has page parents which means the url is {parentslug}/{pageslug} Searching by slug returns pages with the slug, no matter the depth. Any ideas here?

### Steps To Reproduce:

[2018-03-01 13:53] Juhlinus commented on #386
Add the following method to Corcel\Model\Builder\PostBuilder and you should be good to go, provided that this is what you were hoping for.

**PostBuilder.php**
[code]

**Usage**
Passing the _guid_ will return the Post object.

[code]

[2018-03-01 19:20] rayaf opened #387 "create new users"
- Corcel Version: 2.6
- Framework Name & Version: Laravel 5.6
- PHP Version: 7.2.1

### Description:
I'm a beginner and trying to create users through laravel. Is it possible to do that?
I'd be grateful for the hand.

### Steps To Reproduce:

[2018-03-02 01:24] Juhlinus commented on #387
I think you'd be better off reading through the Laravel documentation, seeing as this is not specific to Corcel.

https://laravel.com/docs/5.6/authentication

[2018-03-02 16:31] callumthomson opened #388 "Themosis integration issue"
- Corcel Version: `v2.6.1`
- Framework Name & Version: `Themosis 1.3.2`
- PHP Version:  `7.2.0`
- Database Driver & Version: `mysql  Ver 14.14`

### Description:
Corcel Fails immediately when I try to retrieve data from the database using the `Post` model.

### Steps To Reproduce:

1. Include corcel in your themosis project
2. In your themosis theme, create a custom route and placing the following

[2018-03-02 16:39] jgrossi commented on #388
Hey, thanks for asking. Themosis is made using Laravel's bases, so it seems it's breaking on the `app()` function. Can you what is the `app()` function returns an instance of `Themosis\Foundation\Application`, please?

[2018-03-02 17:03] callumthomson commented on #388
Hi thanks for your swift response,

I replaced the code in my example with

[code]
and the 2nd line of the output was
[code]

[2018-03-02 17:04] jgrossi commented on #388
Yep, got it. I would have to change Corcel's code to allow that. Gonna do that ASAP. Thanks for reporting.

[2018-03-03 00:09] matthewscalf commented on #386
Yeah but this doesn't take into account permalink settings. How would you go about doing that?

[2018-03-04 13:45] Juhlinus commented on #386
In what way do you need to find a page by it's full url? Do you want to resolve a Post object when the user hits an endpoint? Do you want to be able to search for something using the full url and in turn handle the Post object in a controller?

[2018-03-04 14:13] jgrossi commented on #386
Hey thanks for asking. Would you like to get the child page? If you have both parent and child page with the same slug so you want to get the child one, right?

In this case you can create a custom scope that explodes the URL by `/`, then check how deep you are, and then query the `wp_posts` table to find the page. Currently there's no ready to go method for that but you're welcome to send a PR.

[2018-03-04 17:59] matthewscalf commented on #386
With permalinks for pages, the url is more like parent slug (recursive), then page slug. When searching for them in a controller where you are trying to match url structure, we need a way to find the proper page from the root url.

[Izoox, LLC]<https://www.izoox.com/>

Matthew Scalf / Founder / CEO
matt@izoox.com<mailto:matt@izoox.com> / (970) 497-2351 ext. 1001<tel:(970)%20497-2351;1001>

Izoox,

[2018-03-05 02:16] wccnic999 opened #389 "Can't update gallery field content."
Hi jgrossi,

Thanks for developing corcel so that WordPress programmers can easily developing their website. I think it is great, I can still customize my cms flexible with the latest frontend framework - laravel.

- Corcel Version: 2.1.1
- Framework Name & Version:
- PHP Version: 7.1.3
- Database Driver & Version:

### Description:
But i face an issue while i wished to use the gallery field. I fo

[2018-03-07 02:38] wccnic999 commented on #389
Although no one is going to answer, I solved this issue. I found a way of uploading images to gallery field.

I tried to update acf content by wp-json so I installed a wp plugin called "ACF to REST API". The steps of creating a gallery field to a post and updating it as below:

1. Get the files on client side and upload to server. Then update the media attachment metadata and get the attachment id

[2018-03-07 02:54] #389 closed, assigned to nobody

[2018-03-08 17:25] vool opened #390 "Non posts items being returned"
- Corcel Version: 2.4.1
- Framework Name & Version: laravel 5.4
- PHP Version: 7.1.2
- Database Driver & Version:

### Description:

Hi I dont know if I am doing something stupid but when I try to get all posts, pages and plugin stuff is (ie non published posts) also being returned.

### Steps To Reproduce:

This returns non post items

Corcel\Model\Post::published()->newest();

Thanks for a great

[2018-03-09 10:32] vool commented on #390
Just to provide some more info, this is the query that is being generated:

``
select count(*) as aggregate from `wp_posts` where `post_status` = 'publish'
select * from `wp_posts` where `post_status` = 'publish' limit 6 offset 0
``

If I add type('post') it works as expected  ie

Corcel\Model\Post::type('post')->published()->newest()

``
select count(*) as aggregate from `wp_posts` where `post_ty

[2018-03-13 17:19] niknickolas opened #391 "Does method stripShortcodes of trait Corcel\Concerns\Shortcodes delete shordcodes from content ?"
- Corcel Version: v2.5.8
- Framework Name & Version: laravel 5.5
- PHP Version: 7.0

### Description:
Does  `Corcel\Concerns\Shortcodes::stripShortcodes` have the same behavior as php function `stripslashes`, I mean wether it delets any shortcodes from content  as like it does wp function `the_excerpt` when fetches text from `post_content` field if `post_excerpt` is empty   or am I wrong  ?

Thank

[2018-03-15 18:41] thomasjohnkane opened #392 "orWhere for taxonomies in Query Builder"
- Corcel Version: Latest
- Framework Name & Version: Laravel 5.6
- PHP Version: PHP 7.2
- Database Driver & Version: MySQL 5.7

### Description:
*Please point me in another direction if this isn't the right place*

Is there a way to do an `orWhere` with `taxonomies` like:

`$q->taxonomy('specialties', $input['specialty'])->orTaxonomy('specialties', $input['specialty']);`

That would be pretty slic

[2018-03-15 19:05] thomasjohnkane commented on #392
Would something like this do it?

[code]

[2018-03-15 19:14] thomasjohnkane commented on #392
Sorry, this was a silly place to post this.

Plus, I'm pretty sure you can just pass an array of terms to the existing Taxonomy function and it will do an OR operator on each.

Thanks

[2018-03-15 19:14] #392 closed, assigned to nobody

[2018-03-23 19:06] jgrossi commented on #391
Hey, sorry about the late answer! Actually, the `stripShortcodes()` only parses the shortcodes, for both `->post_content` and `->post_excerpt` fields. And if the excerpt is empty is does not return the content one. But this could be done easily 😎

[2018-03-23 19:10] jgrossi commented on #390
Hi @vool thanks for sharing. Actually the `Post` class is the generic one, so using it you can query any post type. Other classes like `Page` already has a `$postType = 'page'` so it filters the post type.

One thing you could do is to extend `Corcel\Models\Post` class and then set the `$postType = 'post'`so when using it you'd get only posts with `post` type. 😉

[2018-03-27 13:21] niknickolas commented on #391
Hello @jgrossi.
Thanks for the answer, maybe I'm wrong, but as for me, if there is a `strip` in the name of the method or function, then the method or function will delete something in the data it has transferred.

In this case, the `stripShortcodes` method converts` shortcode` to the output of the handler class of this `shortcode`.

Then the question is, how can I make the output of the content w

[2018-03-31 09:28] pixelpeter opened #394 "Additional paragraph tags <p> with shortcodes"
- Corcel Version: 2.6.1
- Framework Name & Version: Laravel 5.6.15
- PHP Version: 7.1
- Database Driver & Version: MySQL 5.7

### Description:
I get additional inserted `<p>` tags when getting a post with Corcel.
This breaks the generated HTML when you replace your shortcode with e.g. a `<div>`
Inside wordpress there are no additional `<p>` tags and the shortcodes are replaced correctly so the sit

[2018-03-31 12:11] dejanmilosevic0 opened #395 "question: Are there any benefits using corcel instead of wp-api?"
corcel will be running via laravel and wp-api via wordpress that is clear, but question is more about benefits of querying and database handle, does corcel have benefits or drawbacks with geting data from wordpress against wp-api? Question is not regarding fact that wi will need to implement our own rest endpoints when using corcel, it is more about is performance and comptability.

[2018-04-02 21:04] leafling commented on #386
Any progress on this?  I'm interested in finding a solution for this as well.

[2018-04-03 15:08] danieluyo commented on #395
I see corcel one way for scale a Wordpress website. Its more easier scale the app where consume assets and DB only.

[2018-04-03 15:15] codeserk commented on #395
This packages reads the database instead of asking wordpress for its info. That has some benefits but also some drawbacks:

## The good
Having access to database makes things faster and easier, you can build Eloquent queries with complex relationships and stuff like that

## The bad
Wordpress offers a layer above its database, it processes some data and you lose that when you access directly to th

[2018-04-06 03:09] iteearmah opened #396 "property 'meta_value' of non-object fetchMetadataValue"
- Corcel Version: 2.6.1
- Framework Name & Version: Laravel 5.6.15
- PHP Version: 7.2
- Database Driver & Version: Mysql

### Description:
[code]

### Steps To Reproduce:

[2018-04-06 11:49] jgrossi commented on #396
Hey @iteearmah thanks for the comment. Actually it seems your `$meta` variable is null, I guess you don't have in your database a row with `post_id => $attachment->ID` and `meta_key => _wp_attachment_metadata`. Double check that please 😎

[2018-04-14 04:08] luisfeijoo opened #397 "The code does not work"
![image](https://user-images.githubusercontent.com/5165935/38764155-27186cd4-3f6f-11e8-8cdb-1929bc653b47.png)

Driver [wordpress] not supported.

[2018-04-14 04:27] #397 closed, assigned to nobody

[2018-04-19 01:26] bluehaoran commented on #50
Hi @jgrossi, thanks for writing Corcel!

It's perfect for the project we're about to work on, except that we definitely need multi-site functionality. I will use some of the suggestions above to start with, but I'd also be keen to put some work into extending Corcel to do it natively.

But before I do, I'd love to know your thoughts on how best to do this.

[2018-04-19 12:56] jgrossi commented on #50
Hi @bluehaoran thanks for the kind words. About multi-site, Corcel works as a library, a composer package. There's no way to work with multiple websites using just a single database connection, but you can have as many database connections you want to, changing the prefix for each one. So using something like `Post::on('website2')->all()`.

Would this help?

[2018-04-20 02:59] bluehaoran commented on #50
@jgrossi thanks for taking the time to reply.

As I see it, there are two problems to solve with multi-site:

1. It feels inefficient to use two connections--one with a 'wp_' prefix and one a wp_X_' prefix. In the same request, I might well want access to wp_users, wp_options, and wp_2_posts and wp_2_postmeta.

I'm thinking that in this circumstance, you'd tweak the logic around generating the $ta

[2018-04-20 20:38] jgrossi commented on #50
@bluehaoran actually you can access both database connections in the same request. The `on()` method on `Post::on($connection)` would access that connection and the `wp_posts` table for that specific connection:

[code]

Just to let things clear, the `on()` is not a scope actually, it's a Eloquent method that change from which connection you're accessing from.

[2018-04-23 12:18] nteath opened #398 "Correct way to render post?"
- Corcel Version: 2.6
- Framework Name & Version: Laravel 5.6
- PHP Version: 7.2

Hi, thank you for this great package, it has helped us a lot. This is not an actual issue with the package but I 'd like some input on what would be the 'correct' way to render the post content so it could be as close to wordpress' as possible?

For example, I use {!! nl2br($post->content) !!}  but this breaks things

[2018-04-23 16:49] pixelpeter commented on #394
Have you had time to look into it?

[2018-05-04 12:12] guicara commented on #349
Hello @jgrossi,
Thank you for your great work!
Do you have time to merge #352 ?

[2018-05-16 01:48] macedd commented on #290
[code]

[2018-05-29 20:29] bryannbarbosa opened #401 "WP Prefix on Tables"
- Corcel Version: 2.6.1
- Framework Name & Version: Laravel
- PHP Version: 7.1
- Database Driver & Version: MySQL

### Description:
I'm trying to get some posts in my view, but, without success, the problem seems to be referring to this:

`SQLSTATE [42S02]: Base table or view not found: 1146 Table 'mysqldatabase.posts' does not exist (SQL: select * from posts where post_status = publish)`

Should

[2018-05-29 21:02] jgrossi commented on #401
Hey @bryannbarbosa thanks for the message. did you configure a new database connection in Laravel `config/database.php`? did you set the `prefix` there?

[2018-05-29 21:04] jgrossi commented on #398
@nteath you're welcome! thanks for the message. actually WP uses the `wpautop()` function to do that. it's a bit complex, and it handles a lot of logic for formatting. I was out for a bit, but I'm gonna merge this PR that adds that function, then you'll be able to use it: PR #292. I'm gonna comment here when it's merged. thanks!

[2018-05-29 21:04] #396 closed, assigned to nobody

[2018-05-29 21:06] jgrossi commented on #394
hey @pixelpeter sorry about being late! I was busy for a while. you're saying that you created some custom shortcodes, added them to the Corcel configuration file and it's not working? does it not parsing the shortcode? is that true? thanks!

[2018-05-29 21:12] jgrossi commented on #391
hey @niknickolas sorry about being MIA. you can override the `Post::getContentAttribute()` to return the value without being parsed.

[2018-05-29 21:12] bryannbarbosa commented on #401
@jgrossi Yes, I just forgot about it, I did not notice, everything is working!

[2018-05-29 21:12] #401 closed, assigned to nobody

[2018-05-29 21:14] jgrossi commented on #386
@leafling @matthewscalf @Juhlinus gonna take a look on that this week. sorry about being MIA these last weeks. thanks for the patience!

[2018-05-29 21:15] jgrossi commented on #395
@danieluyo I think @josec89 answer was really good 😎the big advantage of Corcel is that you can customize the data you get from the database, like it is stored. any question just ask.

[2018-05-29 21:16] #395 closed, assigned to nobody

[2018-05-29 21:18] jgrossi commented on #388
@callumthomson is this fixed? I don't remember if I did that already! can you check please?

[2018-05-29 21:19] jgrossi commented on #387
@rayaf @Juhlinus thanks for the comment. yes, you can add users using Laravel. it's an easy task, not complicated. just pay attention to the required fields the `wp_users` table requires. thanks!

[2018-05-29 21:19] jgrossi commented on #387
and @Juhlinus thanks for answering 💪

[2018-05-29 21:19] #387 closed, assigned to nobody

[2018-05-29 21:22] jgrossi commented on #381
thanks for the issue @pixelpeter! you're doing it right. after the `firstWhere()` call you must get a `PostMeta` instance, then you have access to `meta_id` value as well.

double check if that records really exist in your database. try to debug it and see the results 💪

[2018-05-29 21:22] #381 closed, assigned to nobody

[2018-06-03 19:53] callumthomson commented on #388
@jgrossi Line 22 of Corcel.php still reads as

[code]

so i guess not?

[2018-06-14 09:25] rjsworking commented on #398
It will be a great feature. Waiting for it :) Thanks in advance.

[2018-06-20 21:03] webparadoxer opened #404 "How to create post slug and guid"
$item = \Corcel\Model\Post::create(
                [
                    'post_title' => $product['name'],
                    'post_name' => Str::slug($product['name']),
                    'guid' => 'http://domain/product/' . Str::slug($product['name']) . '/',
                    'post_content' => $product['description'],
                    'post_date' => date('Y-m-d H:i:s'),

[2018-06-24 10:36] webparadoxer commented on #404
I changed in Post.php

 protected $fillable = [
        'post_content',
        'post_title',
        'post_name',
        'post_excerpt',
        'post_type',
        'to_ping',
        'pinged',
        'guid',
        'post_content_filtered',
    ];

Now, it's ok.

[2018-06-24 22:31] #404 closed, assigned to nobody

[2018-06-30 11:23] sagarnasit commented on #390
@jgrossi I would like to resolve this bug and want to do small contribution to this great library. Should we make one `generic` class something like `WPPost` and extend it other `post type models`? this way we can use `Post` model as `post_type='post'` and `WPPost` as base model for all post types. Please let me know your thoughts on this and suggest if you have better approach.

[2018-07-03 14:36] jgrossi commented on #394
@pixelpeter gonna take a look deeper into this and let you know. thanks! 😉

[2018-07-04 09:02] arielatdev commented on #388
Hello, same issue here.
UP!

[2018-07-10 15:05] jgrossi commented on #388
@callumthomson @Larsouille can you reinstall Corcel using the `2.6-fix-themosis` branch and confirm if it's solved?

[code]

[2018-07-10 15:21] jgrossi commented on #388
actually, Themosis uses almost all Laravel components, so I had to change the check to hard check if `app()` is an instance of Laravel or Lumen implementations, due to Themosis also uses the Laravel `Container` class. let me know if it needs any update, please 😎

[2018-07-10 20:06] jgrossi commented on #391
@niknickolas so you're saying that the `stripShortcodes()` method should be called for example `renderShortcodes()` right?

then you're asking for a method to remove/strip shortcodes in the post content:

[code]
is this right?

[2018-07-10 20:11] jgrossi commented on #391
@niknickolas or would you like to include inner texts too?

```this is a text with a text color```

[2018-07-11 13:17] arielatdev commented on #388
Hello @jgrossi
Nope, doesn't work, here's the stacktrace from my coworker:

ReflectionException: Class config does not exist in file /var/www/html/admin.site.frlocalhost/vendor/illuminate/container/Container.php on line 767
Stack trace:
  1. ReflectionException-&gt;() /var/www/html/admin.site.frlocalhost/vendor/illuminate/container/Container.php:767
  2. ReflectionClass-&gt;__construct() /var/www/

[2018-07-11 15:10] h-collector commented on #388
@Larsouille  for `'config'` to be resolved you can use another package like [wp-kit/config](https://github.com/wp-kit/config) otherwise Themosis only define `config.factory` (not really helpful) and it is not really compatible with most Laravel Packages.

[2018-07-11 15:35] arielatdev commented on #388
@h-collector I'll check this out tomorrow, thanks for the tip! :)

[2018-07-11 17:41] jgrossi commented on #388
@h-collector good call 👏actually the hard part is that Themosis uses a lot of Laravel features/packages, but Corcel works by default with Laravel:

1. if the app is Laravel you don't have to set database stuff. then Corcel only reads the `database.connection` config and call it.
2. if it's not Laravel it does not read that, but then you're forced to configure `illuminate/database`'s Capsule to mak

[2018-07-11 17:42] jgrossi commented on #388
that would be something just for Themosis, actually! because it's Laravel but it's not 😂

[2018-07-12 11:52] arielatdev commented on #388
Hello @jgrossi @h-collector , so wp-kit would not work I think.
Because of composer dependancies loop/issues:
wp-kit needs symfony/finder: 3.*
dev-2.6fix-themosis needs Illuminate/filesystem: 5.6*
Illuminate/filesytem needs symfony/finder: ~4.0

Cheers! :)

[2018-07-12 15:40] h-collector commented on #388
You can try to make an alias for finder version, tried and works! :D
[code]

[2018-07-12 16:23] jgrossi commented on #388
@h-collector but this should be done at the Themosis level, not Corcel's, right?

[2018-07-12 16:39] h-collector commented on #388
@jgrossi Yes, this is composer.json require section from my current project (without plugins) .

I updated from Corcel v2.5.7 (alongside illuminate packages 5.5 to 5.6), just needed to also add new config file (corcel), looks like it works (dev-2.6-fix-themosis I mean) .

[2018-07-12 17:00] h-collector commented on #388
Btw. there could be also some checks `->bound('config')` with defaults.
Themosis by default use global Eloquent without config but it should change with new 1.4 version
(I'm using Illuminate DatabaseServiceProvider with config)

Eloquent, with any PHP project or even framework.

Not `any`-more :D

[2018-07-19 15:18] joeyj87 commented on #262
We are using laravel 5.6 with corcel 2.6, yet the issue above occurs. Using the fix provided above resolves the issue but why isn't this part of the latest corcel and the issue closed?

[2018-07-25 07:51] wfz90 opened #406 "composer.json 需要添加内容"
需要添加下面，才能使用paginate()
"illuminate/pagination":"5.6.*",

[2018-07-30 20:47] joaoeduardo opened #407 "How to get all thumb sizes?"
- Corcel 2.5
- Laravel 5.5
- PHP 7.0
- MySQL 5.7

How can I get all thumb sizes from a post?

I tried the code below, but I only get the original image:
[code]

[2018-08-10 13:01] audetcameron opened #408 "Previously installed newer version of hautelook/phpass causing failed install."
Hello.
 I'm looking into trying Corcel for the first time.  Have you ever had an issue with dependencies ?
Is there a way to force Corcel to use the newer version of hautelook/phpass?
Thank you for your plugin / time.

- Corcel Version: #.#.#
- Framework Name & Version:
- PHP Version:
- Database Driver & Version:

### Description:
using laravel 5.6. Trying a composer require jgrossi/corcel.
looks

[2018-08-10 13:44] jgrossi commented on #408
hi @audetcameron thanks for reporting! it seems that your app is requiring `hautelook/phpass#0.3.5`, am I correct? do you have something on your `composer.json` that shows that?

I've just created a laravel 5.6 app and installed `jgrossi/corcel` trying to reproduce your issue, but everything went fine. corcel requires `hautelook/phpass#0.3.4` but maybe some package you're using requires `0.3.5`.

[2018-08-10 13:45] jgrossi commented on #408
oh sorry, I missed the part you mention you're already using a newer version of `hautelook/phpass`. I'm gonna push a new release of corcel with `hautelook/phpass: 0.3.*` then. I think that's enough for what you need. hold on!

[2018-08-10 15:52] audetcameron commented on #408
Thanks for the response!

unfortunately there is a
 "name": "hautelook/phpass",
            "version": "0.3.5",

in my composer.lock  but nothing about it in my composer.json.
I have no idea what other require pulled it in or where it's being used.

Ideas on how to move forward?

[2018-08-10 15:54] audetcameron commented on #408
Oh I think I found it. I may have a solution....  the mikemclin/laravel-wp-password  is asking for a version "0.3.*".  Maybe I can force an install of 3.4.

[2018-08-10 16:12] jgrossi commented on #408
hey @audetcameron I already created the fix, but travis ci is not working well for me at the moment. I even created a PR for that I think may work for you. just waiting for them to fix my build, then I merge and create a new tag 😎

[2018-08-10 17:23] #408 closed, assigned to nobody

[2018-08-10 17:29] jgrossi commented on #408
@audetcameron fixed on `v2.6.3`. update Corcel, please! 👍

[2018-08-10 18:17] audetcameron commented on #408
👍 100% working and ready to go :)  @jgrossi   Thank you so much. I look forward to diving into Corcel!

[2018-08-15 21:25] mafiadek opened #410 "Create posts with tag and cover image"
- Corcel Version: v.2.6.3
- Framework Name & Version:
- PHP Version:
- Database Driver & Version:

### Description:
how to create new post with tag and category and set cover image

### Steps To Reproduce:

[2018-08-18 02:59] fabiotnt commented on #407
You can get with:

`$post->attachment[0]->meta[1]->value;`

But you need to validate if ->image is not null before.

[2018-08-18 03:31] fabiotnt commented on #407
Another approach:

`preg_match('/\.[^\.]+$/i',$post->image,$ext);
                $post->image_thumb  = str_replace($ext[0], "-150x150".$ext[0], $post->image);
                $post->image_medium = str_replace($ext[0], "-300x158".$ext[0], $post->image);
                $post->image_medium_large = str_replace($ext[0], "-768x403".$ext[0], $post->image);`

[2018-08-25 17:51] adamriggsy commented on #398
This will be great when we can get it. Any update on when this is going to be implemented?

[2018-08-30 05:47] ricardoa-vega-stori opened #411 "Relationship Posts->Author gets lost if specifying columns"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.6
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:

If I query some Posts along Author and Attachment works fine. However, as soon as I set the Post columns I want to select, the Author relationship becomes null.

### Steps To Reproduce:

If I do this:

`Post::with('author', 'attachment')->findMany($IDs);`

I ca

[2018-08-31 03:08] ricardoa-vega-stori commented on #411
Alright, I fixed it myself :)

It turns out that I needed to select the post_author field like this:

[code]

Also, added ID so the attachments can be retrieved to :) All good now, I'm closing this issue.

[2018-08-31 03:09] #411 closed, assigned to nobody

[2018-08-31 13:42] #406 closed, assigned to nobody

[2018-08-31 13:57] jgrossi commented on #407
@joaoeduardo @fabiotnt you can get it through the `thumbnail()` relation, which returns a `ThumbnailMeta` instance:
[code]
take a look on the following test case: `ThumbnailTest::it_has_different_sizes`. and also the `Post` class on the `thumbnail()` relation (returning a `ThumbnailMeta` instance).

@joaoeduardo you are getting the original image because the `ThumbnailMeta` class has a `__toString

[2018-08-31 13:59] jgrossi commented on #407
@joaoeduardo @fabiotnt I just noticed that this info is not in the `README` file. if any of you can send a PR including that info, I appreciate 🙏

[2018-08-31 14:21] joaoeduardo commented on #407
I will try. Seems simple. After I will send a pull request to `README` file.

[2018-08-31 15:03] jgrossi commented on #390
@sagarnasit thanks for your suggestion. I don't want to attach the `Post` class to a specific post type. I think having the `Post` as a generic class like WP does. actually, we could think on how to set a default post type, but this would impact on other relationships we have in Corcel, like terms, etc.

[2018-08-31 15:04] jgrossi commented on #407
thank you @joaoeduardo. once you do that please include `fixes #407` on PR description to make sure this issue is closed right after the PR is merged 😎

[2018-09-04 23:12] matthewscalf commented on #386
Any news on this?

[2018-09-04 23:13] matthewscalf commented on #398
Any chance of getting this merged soon?

[2018-09-04 23:25] jgrossi commented on #398
@matthewscalf yep! just waiting the PR author to merge the 2.6 branch into it. I don't have enough permission to do that. I'll also replicate it to 2.7 branch as well

[2018-09-07 15:41] crispy-computing-machine opened #413 "Register/login issues when using corcel auth provider"
- Corcel Version: v2.7.0
- Framework Name & Version: Laravel v5.7.2
- PHP Version: 7.1.20
- Database Driver & Version: MYSQL 5.7.17-0ubuntu0.16.04.2

### Description:
I am trying to get Laravel to use the Wordpress users table but when I register it just uses the laravel default users table (errors if make:auth and migration haven't been run).

Am I missing/misunderstanding something on how this w

[2018-09-10 10:22] crispy-computing-machine opened #414 "Categories and Taxonomies Issues"
- Corcel Version: v2.7.0
- Framework Name & Version: Laravel v5.7.2
- PHP Version: 7.1.20
- Database Driver & Version: MYSQL 5.7.17-0ubuntu0.16.04.2

### Description:
I am trying to query posts from a specific category but the snippets included in the documentation do not appear to work as expected.

https://github.com/corcel/corcel#posts

### Steps To Reproduce:

Throws exception: **Call to undef

[2018-09-10 11:51] jgrossi commented on #414
hey @brittainmedia! I think you've just found a typo in the documentation 😜
the `posts()` relationship in `Taxonomy` model returns a `BelongsToMany` instance, so it should be `->posts->first()` instead of `->posts()->first()`.

please, try to change that and let me know if it works, and if you want to send a PR with that docs change be welcome! 😎

[2018-09-10 12:03] jgrossi commented on #413
@brittainmedia are you using the `corcel` auth provider and the correct WP database prefix for the `users` table, like `wp_users`?

[2018-09-10 15:44] crispy-computing-machine commented on #413
Thanks for your reply!

I have been playing around with this again since and I think its just my misunderstanding.

I presumed registering using the Laravel register page would use the corcel auth provider to register a WP user. I have been able to log into Laravel using a WP user successfully though, which I presume what this was ultimately designed for?

[2018-09-10 15:47] crispy-computing-machine commented on #414
Thanks for your explanation. Similarly with the  `Category` class exception, this class only appears in the unit test cases. Is it worth adding this in as a model off the Taxonomy class similar to Terms etc?

[2018-09-10 15:47] jgrossi commented on #413
@brittainmedia Corcel is a database/model layer between Laravel and WP. you could use the Laravel register page to register a user, but it would change something. basically the Corcel auth provider is to be able to login a user in Laravel using the WP database schema.

[2018-09-10 15:53] crispy-computing-machine commented on #413
Maybe the ability to register WP users 'out of the box' could be added at a later date? It was a bit confusing as I would have assumed (never assume!) that corcel would take over the logging in/registering of users...

[2018-09-10 15:55] jgrossi commented on #413
@brittainmedia I would have to dig a bit more into the code, because that feature comes with the default Laravel installation, but that would be a great added, for sure

[2018-09-10 18:03] Ain477 opened #415 "Installing Issue"
- Corcel Version: #.#.#
- Framework Name & Version: Laravel 5.6.*
- PHP Version: ^7.1.*
- Database Driver & Version:

### Description:
I'm seeing this error when tried to install, Hope you'll find all the info here
![screenshot_1](https://user-images.githubusercontent.com/26634947/45315327-f0b45d80-b555-11e8-8114-c807fd859ad9.png)

### Steps To Reproduce:
Just followed the instruction mentioned he

[2018-09-10 19:40] jgrossi commented on #415
@AinCoder it seems you're trying to install Corcel 2.7.0 with Laravel 5.6, correct? for Laravel 5.6 you should install Corcel 2.6.*

[2018-09-25 05:33] bluehaoran commented on #414
I actually had just this question about the docs.

It looks like Category went missing when a bunch of files were reorganised--Tag (representing taxonomy=post_tags) made the cut, but Category (taxonomy=category) did not.
https://github.com/corcel/corcel/blob/b460c7bce0d26b50ed93c4f57b1aa95470e38785/models/Category.php

[2018-09-25 19:42] jgrossi commented on #414
@bluehaoran actually I don't think `Category` should be a class there. It was on version 1, in the main namespace actually. It could even be included in the `Corcel\Model` namespace, but the point is that a `category` is not forced in WP, it's a taxonomy name, and you can remove it, for example.

what do you think? any other idea?

[2018-09-26 06:26] bluehaoran commented on #414
@jgrossi I understand why you took it out, and I'm inclined to agree with you. But by the same token, we should actually remove the Tag class.

Having said that, the Tag class was really useful in pointing out that I could create a Taxonomy subclass and set the $taxonomy property to have some syntactic sugar in my code. Perhaps you could put both Category and Tag classes in an "examples" directory

[2018-09-26 09:05] jgrossi commented on #414
@bluehaoran hey! yep, I'm planning for the next month to start migrating all the readme file into a complete documentation in readthedocs.io. it would be necessary to go file by file, writing examples and explaining some logic behind them. There are a lot of code that's not covered by examples, and I'm also sure that when writing documentation we're going to find good new features to be added on c

[2018-10-01 11:18] crispy-computing-machine commented on #414
Yes, please provide examples when redoing the docs! :+1:  I have just been using snippets from the test files you have written (ergo finding that 'Category' class did not exist)

I quite like the idea of using the class name to denote what it is you are trying to create as opposed to manually stating what it is you want to create, so instead of:

**$category = new Taxonomy();
$category->taxonomy =

[2018-10-03 08:36] #415 closed, assigned to nobody

[2018-10-05 02:35] interludic commented on #301
how to assign a post to a category?

[2018-10-05 15:29] crispy-computing-machine commented on #414
@jgrossi Did you want me to implement these classes and open a PR? Not sure what these tags you've added mean lol

[2018-10-08 12:12] #407 closed, assigned to nobody

[2018-10-13 09:06] aftabnaveed commented on #395
Many wordpress features come through its plugins, how does Corcel handle those?

[2018-10-15 23:44] iteearmah commented on #301
$term_taxonomy_ids[2,3,4]
$post->taxonomies()->sync($term_taxonomy_ids);

[2018-10-15 23:45] iteearmah commented on #301
Also how do we assign a featured image to a post?

[2018-10-18 02:01] interludic commented on #395
@jgrossi Perhaps corcel could consume some endpoints from wp rest api, and convert to elouqent?

collect(endpoint/);

[2018-10-18 11:44] jgrossi commented on #395
@aftabnaveed thanks for the question! Actually, Corcel works at the database level, so if the plugin changes data and save them to the database, Corcel can get it easily. Some other plugins in other hand change the data after fetching them in the database, so Corcel is not able to do that, only if we develop a plugin that does the same logic, like `corcel/acf` does.

[2018-10-18 11:46] jgrossi commented on #395
@interludic Corcel works at the database level only, not HTTP requests. The main goal of Corcel is allowing developers to have total control about the data, directly in the database.

[2018-10-19 01:05] curtisbelt commented on #386
Just passing by - sorry I do not use this project but I thought I may have some related info:

1) Never depend on `guid` for anything but what it is - a unique identifier. The guid is only the URL of the post __when it was created__ because WordPress borrows it, as it serves the purpose of a "globally unique value" well enough for their needs. [The codex recommends never updating the guid, even if

[2018-10-19 01:16] interludic commented on #414
Any update?

[2018-10-19 12:01] crispy-computing-machine commented on #414
@interludic Why the confused emojis lol

I haven't started any work on this yet or are you referring to docs that @jgrossi is working on?

[2018-10-20 12:27] ninthspace commented on #388
Related to this, I just happen to have a website that's unrelated to Laravel, that has an app() function (which returns an instance of a class). Correspondingly Corcel::isLaravel fails because that doesn't instance doesn't have a version() method. (Actually, nevermind, I'll update to Corcel 2.7 from 2.5 and see if this issue goes away)

[2018-10-21 10:16] ninthspace commented on #388
Ah, 2.7 doesn't have the dev-2.6-fix-themosis changes. So I installed that instead and my issue was fixed. 👍

[2018-10-27 01:04] #414 closed, assigned to nobody

[2018-10-27 01:05] jgrossi commented on #414
if anyone has interest in helping to create the new documentation just let me know. thanks! 💪🎉

[2018-10-31 00:18] interludic opened #421 "Cant find model... for category"
- Corcel Version: 	"jgrossi/corcel": "2.5.*",
- Framework Name & Version: 		"laravel/framework": "5.5.*",

- PHP Version: 7.1

### Description:

Cant find model... for

// clean and simple all posts from a category
$cat = Category::slug('uncategorized')->posts->first();
$cat->posts->each(function($post) {
    echo $post->post_title;
});

[2018-11-07 03:10] namnguyen2091 commented on #410
I have the same question. I dont know how to insert new post with Corcel, I want to use posts table with other purpose. I think this is a new function in a future, I can not find this in code.

[2018-11-12 16:58] crispy-computing-machine commented on #421
See https://github.com/corcel/corcel/issues/414

[2018-11-13 17:04] jgrossi commented on #410
@mafiadek @namnguyen2091 thanks for sharing! actually, Corcel works on the top of [Laravel's Eloquent ORM](https://laravel.com/docs/5.7/eloquent), so you can use all the relations the `Post` class has and insert what you want.

it should work fine when inserting, I cannot see any other restriction, but if so just let me know here and we try to fix that asap. basically you are going to use the `$po

[2018-11-13 17:08] jgrossi commented on #413
@brittainmedia any update? I was thinking, you can just create a user by hand `User::create(/* params */)`. you would have to use the `hautelook/phpass` package (already included in Corcel) to hash the password the way WP does. nothing more than that.

[2018-11-13 17:13] jgrossi commented on #421
@interludic hi, thanks for reaching out! try to use the `Taxonomy` class instead of the `Category` one (removed from Corcel v2):

[code]

hot it helps! let me know if not 😉

[2018-11-13 17:15] jgrossi commented on #421
probably this is missing in the docs, and it would be a great addition! feel free to send a PR 🚀🔥

[2018-11-13 18:13] jgrossi commented on #410
@mafiadek @namnguyen2091 just created a `addTerm()` method to the `Post` class. let me know your thoughts. Here is the PR #425. thanks! 🎉💪

[2018-11-14 09:09] crispy-computing-machine commented on #413
I can't see a way to easily merge the auth providers for registration so as you said this will just need to be a bespoke solution to implement WP user registration.

Thanks for the help

[2018-11-14 09:09] #413 closed, assigned to nobody

[2018-11-15 13:12] jgrossi commented on #413
@brittainmedia please take a look on this PR #426 and let me know what you think. thanks!

[2018-11-16 03:26] namnguyen2091 commented on #410
I see. Thanks so much!

[2018-11-16 19:07] juanRabaa opened #427 "How to get attachments urls"
- Corcel Version: 2.7.0
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.2.8
- Database Driver & Version: 10.1.34-MariaDB

### Description:
I don't know if there is a better way to get attachments, but right now I'm doing it this way:
`Post::type('attachment')->get();`

This returns all the attachments in the media gallery, but **I only need their urls**.
I tried with `Post::type('attachme

[2018-11-16 19:24] jgrossi commented on #427
hi @juanRabaa thanks for sharing 😎about your question, there's no `url` field on `wp_posts` or even a `url` attribute on `Post` or `Attachment` classes. the `guid` column would be the best one here, but I understand your point.

digging into the WP database I saw that some meta are stored for attachments, like the `_wp_attached_file` one, which contains something like this `2011/07/100_5478.jpg`.

[2018-11-17 01:58] juanRabaa commented on #427
Hey @jgrossi, thanks for the quick response, really apreciate it.

Actually, once you do the `Post::get()`, you get a collection that has an 'url' field. So you can do `Post::get()->pluck('url')` and it will work.

Somewhere in the `get()` method the url is putted together, so the only way to get this value would be after running `get()` doing `Post::get()->pluck('url')`.

What I wanted to know is

[2018-11-19 12:51] jgrossi commented on #427
@juanRabaa yep, I get your point. actually `url` is an alias to the `guid` if you're using url or guid is the same. Take a look on `Post` where we set all aliases, ~line 99.

that SQL query works for you, and if you really need that at SQL level, sounds good to me. I would go with a collection map call, but this is up to you.

[2018-11-19 18:30] juanRabaa commented on #427
@jgrossi so if `url` and `guid ` are the same (in the response from `get`, not in the wp db) there isn't even the need to map the collection, I could just go with my original solution `plunk('guid')`.

Should I be concerned about this values not being the actual url of an attachment file? In case the `guid` column isn't reliable for this, I think it would be useful (and needful) to have something

[2018-11-20 12:35] jgrossi commented on #427
@juanRabaa yep, a ready-to-use function for that would be great, for sure. like I said, the `url` is just an alias to make it easier to remember. the point is that in WP the hostname can be different if you are using constants, for example, `WP_HOME` so if you're using Laravel I think using `config('app.url')` + `guid` would be better for posts and permalinks, but for files/attachments the WP url

[2018-11-22 22:26] bluehaoran commented on #50
If you're on this thread, here's a little bug I picked up with Connections in Laravel (https://github.com/laravel/framework/issues/26589). This mainly became an issue for me writing unit tests, but YMMV.

[2018-11-23 12:37] jgrossi commented on #50
@bluehaoran actually, about the laravel/framework#26589 that's the expected behavior. can you explain better which test you wrote?

[2018-11-25 22:35] bluehaoran opened #428 "Allow configuration/replacement of Shortcode Parser"
- Corcel Version: 2.7

I came across an edge-case with Shortcode parsing that is parsed correctly by Wordpress' regex (and thus Thunderer's WordpressParser), but not Thunderer's RegularParser.

I think we need a way to optionally specify which Thunderer Parser to use for handling shortcodes.

Proposal: add Corcel config option, and update `Shortcodes::stripShortcodes()`. (I'll send a PR for this s

[2018-11-25 22:37] bluehaoran commented on #428
In case you're wondering, this shortcode is handled by Wordpress' regex parser, even though it is _technically_ illegal:

`[image url='blah.jpg' size='xlarge' align='center' clear='true' ]`

[2018-12-02 08:07] miladgh71 opened #432 "woocommerce"
Hi Jgrossi
Thank you for your awesome plugin
I created coecel plugin and when I want to use product model it doesn't work properly
Sorry, I'm new in laravel

[2018-12-04 11:54] jgrossi commented on #432
hey, @miladgh71 welcome 💪 the `corcel/woocommerce` plugin is still in development and has no documentation for now. but you are free to visit the source code and what you can do on https://github.com/corcel/woocommerce/

to install it just run `composer require corcel/woocommerce`. cheers! 👏🔥

[2018-12-04 11:55] #432 closed, assigned to nobody

[2018-12-10 08:22] hediyehgh opened #433 "How to get posts of a taxonomy in descending order Corcel Laravel"
### Description:

I'm using Corcel in my Laravel project and I have set my database connection to a wordpress database. I want to get the posts of a taxonomy in descending order according to post_date field. I've developed the following function but it returns the posts in ascending order. How should I change it?
Can I  use newst() or orderby() functions?

[code]

[2018-12-10 08:59] hediyehgh commented on #433
I tried to change the function as below but it returned null.

[code]
**Finally I changed it as below and the problem got solved.**

[code]

[2018-12-10 09:11] #433 closed, assigned to nobody

[2018-12-14 22:25] mboisvertdupras opened #434 "Convert existing Laravel users to WordPress users"
- Corcel Version: 2.7
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
I have an existing Laravel app I'd like to migrate to use WordPress as the backend CMS. I'm wondering if it would be possible to import all of my existing users from Laravel into WordPress.

[2018-12-16 20:59] jerauf opened #435 "Gallery"
How do I display gallery content? When I echo the content field, it just echos "gallery" instead of the images in the gallery.

Ideas?

[2018-12-16 21:39] #435 closed, assigned to nobody

[2018-12-17 12:33] jgrossi commented on #435
@jerauf just to answer your question, gallery usually is rendered using shortcodes in WP, so it depends on the plugin you are using. So it's important to re-implement the shortcode logic in Corcel first, then rendering the post content. cheers!

[2018-12-31 02:05] osuagwu opened #436 "Wrong/Parent class returned for MenuItem"
https://github.com/corcel/corcel/blob/40aef2107b2caf9c5e176963436845973d810acb/src/Model/MenuItem.php#L61-L63

Line 36 expects class 'MenuItem' in order to properly declare he post type when searching the Wordpress post tbl. Instead line 61 returns class Page making sure that parent of a menu item is never returned

[code]

[2018-12-31 16:56] jgrossi commented on #436
hey, thanks for the issue. can you explain a bit better what's happening? a menu item has two different relations: parent and instance. what would you like to get and how is your menu structured please? thanks

[2018-12-31 18:36] osuagwu commented on #436
I was working with MenuItem for Post and Page. My point is that $menuItem->parent() always returns null. I traced the issue to find that the reason is that MenuItem::getClassName() called by MenuItem->parent() in Line 35 is unnecessary and it returns a relation suitable for MenuItem->instance() but not for MenuItem->parent(). If you do not understand my point please do try it yourself and you will

[2019-01-16 13:21] davidbrannvall opened #437 "hasMeta comparison operators not working"
- Corcel Version: 2.7.4
- Framework Name & Version: Laravel v5.7.21
- PHP Version: 7.3.1
- Database Driver & Version: MySQL

### Description:

I have some problems using hasMeta with custom comparison operators, ie like this:

`$posts = Post::published()->hasMeta('_event_date', date('Y-m-d), '<')->get();`

If I cange the two lines below to use '=' instead of $operator to compare meta_key I get the

[2019-01-17 13:32] luizvid commented on #365
Hello, how are you?
I sent a pull request which I believe corrects this issue.
Thank you!

[2019-01-30 06:52] jeromie opened #440 "Fetch posts by Tag"
- Corcel Version: 2.7
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.1

### Description:
I am able to get posts by category using the below code:

`$cat = Taxonomy::where('taxonomy', 'category')->slug($category)->first();`

However, I need to get posts by tag. Can't figure out how to achieve this. Some help please?

[2019-01-30 12:18] blajanadrian18 opened #441 "Save meta"
When I want to save a meta post I get an error. Post id is not saved.

Below I attached a draft code:

[code]

[2019-01-30 12:52] blajanadrian18 commented on #441
Thank you, I've solved it.

[2019-01-30 13:06] #441 closed, assigned to nobody

[2019-01-31 21:23] peratik opened #442 "PHP Notice: compact(): Undefined variable: operator in /vendor/laravel/framework/src/Illuminate/Database/Query/Builder.php on line 1229"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.3.1
- Database Driver & Version: MySQL, 5.7

### Description:
code:
`		$posts = \Corcel\Model\Post::type('post')->taxonomy('category', 'reportage')->published()->newest()->with('attachment')->paginate(10);
`
error:

### Steps To Reproduce:
If a query has taxonomy() filter the error is displayed.

[2019-02-01 08:42] ManukMinasyan commented on #432
Hello, I am using "corcel / corcel". Created a "product" model. and I want to sort products by price. how can I do it ?
Thanks.

[code]

[2019-02-01 08:45] jgrossi commented on #432
take a look on corcel/woocommerce package. it has all models you need

[2019-02-01 08:47] ManukMinasyan commented on #432
Can I use these 2 packages together?
corcel/corcel and  corcel/woocommerce
Thanks.

[2019-02-01 08:50] jgrossi commented on #432
sure. corcel/corcel is the core, and corcel/woocommerce is an extension to provide you the necessary models for the woocommerce plugin. it's still in dev and missing docs, but works fine

[2019-02-01 08:50] ManukMinasyan commented on #432
Thanks.
I have suggestions. Let's open the chat for this package.
There can discuss alto real time. I think it will be convenient

[2019-02-01 09:01] jgrossi commented on #432
please open issues and we will be discuss as soon as possible for everyone

[2019-02-01 10:09] ManukMinasyan opened #443 "Suggestion | Open chat more pleasant communication"
Who agrees to open a chat more pleasant communication. I think it will be convenient.

Thanks.

[2019-02-01 10:37] ManukMinasyan commented on #432
[code]

How I can fix it?

[2019-02-01 10:43] ManukMinasyan commented on #432
[code]

working for me.

[2019-02-01 13:32] JmRy commented on #440
@jeromie A tag is a taxonomy so Post::taxonomy('post_tag', 'hello')->first()

[2019-02-02 10:11] Dartui commented on #432
Hi guys, really sorry that I have not maintained corcel/woocommerce for so long, but I am coming back! :) @ManukMinasyan if you have any suggestions feel free to open new issues on https://github.com/corcel/woocommerce/issues. Soon I will push some fixes and minor improvements, so in the near future it can be tagged as stable 1.0 version

[2019-02-12 12:58] ManukMinasyan opened #445 "Laravel 5.7 and forgot password functionality"
- Corcel Version: 2.7.4
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.2
- Database Driver & Version: MySQL

### Question:

How I can make functionality "Forgot Password"?

[2019-02-12 14:20] amigogobara opened #446 "upload and Save Feature Image"
- Corcel Version: 2.7
- Framework Laravel 5.7:
- PHP Version 7.2:
- Database mysql & 5.7:

I want to save and upload feature image by corcel package and don't know how I make it by this package

[2019-02-13 12:22] oluomotoso opened #447 "Retrive all Available Post Types In Wordpress"
- Corcel Version: 2.7
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.2
- Database Driver & Version:
Mysql 5.7
### Description:

I need to get all post types. I know there's a method to access types from post but what I need is something like PostType::all(); or any equivalent
### Steps To Reproduce:

[2019-02-13 12:34] namnguyen2091 commented on #447
Oh my God.

[2019-02-21 06:52] #445 closed, assigned to nobody

[2019-03-08 07:56] breizhwave opened #449 "laravel 5.8 ?"
Hi updating to laravel 5.8 gives me dependency error

 Problem 1
    - Conclusion: remove laravel/framework v5.8.3
    - Conclusion: don't install laravel/framework v5.8.3
    - Conclusion: don't install laravel/framework v5.8.2
    - Conclusion: don't install laravel/framework v5.8.1
    - Conclusion: don't install laravel/framework v5.8.0
    - jgrossi/corcel 2.7.x-dev requires illuminate/suppor

[2019-03-10 22:36] andreacivita commented on #449
I've just forked this project.
Laravel 5.8 doesn't introduce so many changes, so you just need to update dependencies in composer.json
I'm submitting a pull request.

[2019-03-13 12:00] rzdev opened #451 "Post's status become Scheduled when doing Update on WordPress"
- Corcel Version: 2.5.8
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7

### Description:
I can create a new WordPress post from Laravel and the post's status is Published. But then when i update the Post through WordPress the post's status become Scheduled. What cause this issue?

### Steps To Reproduce:
- Create new post from Laravel

        $wp

[2019-03-13 14:44] rzdev commented on #451
Turns out it was because Laravel & WP have different timezone setting.

[2019-03-13 14:44] #451 closed, assigned to nobody

[2019-03-25 10:10] benrolfe opened #452 "ThumbnailMeta exception"
- Corcel Version: 2.4.1
- Framework Name & Version:
- PHP Version: 7.2
- Database Driver & Version: MySQL

### Description:
When a Post is missing a thumbnail it throws an exception when looping over posts with `foreach`.

`(1/1) FatalErrorException
Method Corcel\Model\Meta\ThumbnailMeta::__toString() must not throw an exception, caught ErrorException: Trying to get property of non-object`

### St

[2019-03-28 08:44] andreaselia opened #453 "Populating Taxonomy Field Meta"
- Corcel Version: Latest
- Framework Name & Version: Laravel & Latest
- PHP Version: 7.2
- Database Driver & Version: MySQL & 5.7

### Description:
I'm trying to populate a Taxonomy field with the `$post->saveMeta` method (how I set meta for standard Text fields, but am unable to populate the Taxonomy correctly. Changing the field from Taxonomy to Text, it populates the field with the correct valu

[2019-03-28 10:24] #453 closed, assigned to nobody

[2019-03-28 10:24] andreaselia commented on #453
Had a brain fart moment.. was populating the meta value with the name of the term rather than the term ID.

[2019-04-05 16:09] alexdumitru89 opened #454 "Corcel creates a query for every post even while using cache"
- Corcel Version: 2.8
- Framework Name & Version: Laravel 5.8
- PHP Version: 7.1
- Database Driver & Version:

### Description:
I'm querying 10 posts in the sidebar and using Redis to cache the query. While the main query that finds the posts doesn't run, there are 3 other queries for each post:

[code]

### Steps To Reproduce:
This is the code I'm using:
[code]
I have checked and it does hit the

[2019-04-08 04:30] carusogabriel commented on #449
Looks like the v2.8 now supports Laravel 5.8.

[2019-04-14 18:41] PayteR commented on #258
If you want to use all functions from WP in Laravel application, then you should try https://framework.themosis.com/

[2019-04-15 02:16] PayteR opened #455 "Multisite table users table prefix"
- Corcel Version: 2.8.0
- Framework Name & Version: Laravel 5.8.11
- PHP Version: 7.1
- Database Driver & Version: MySQL 5.7

### Description:
I spend a lot of time on this, but still didn't get it to work. I have a multisite WP tables. There is a prefix like wp_[number]_ for every site, that's not a problem to setup in config. Problem is that WP multisite have just one `users` and `usermetas` tab

[2019-04-15 02:34] PayteR commented on #455
Hmm, now i see that maybe the issue is somewhere else. Inside `Post` model is `User` model hardcoded by model from Corcel package.

[code]
So solution will be to add a configurable classes like this by you?

[code]

[2019-04-22 07:59] dennisgon opened #456 "Corcel Not Working in Lumen 5.8"
- Corcel Version: 2.8.0
- Framework Name & Version: Lumen 5.8
- PHP Version: 7.1.3
- Database Driver & Version: Mysql

### Description:
Hi i got an error when i want to try corcel in lumen 5.8
it gets errror like this
[code]
i think to fix this issue you must use this
[code]
like in version 2.6.0

### Steps To Reproduce:
1. use corcel in lumen

[2019-05-09 18:20] ricoxor opened #458 "Post : How attached featured image and schedule"
Hello,

When I create a post I would like to link a featured image on this post and scheduled it on a choosen date.
Actually I create a Post like this :

    $post_wordpress = new \Corcel\Model\Post;
    $time = Carbon::now();

    $data = [
        'post_content' => 'CONTENT',
        'post_title' => 'TITLE',
        'post_status' => 'future', //For the schedule
        'post_type' => 'post',

[2019-05-11 18:33] monmarzia opened #460 "How to get the thumbnail url for all attached images"
- Corcel Version: 2.7
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.1.3
- Database Driver & Version: MySQL 5.7.25

### Description:

Hi, I'm trying to get the thumbnail url for all my images in a post. The built in function $post->thumbnail only works for featured image not for all attached child images.

### Steps To Reproduce:

    $pages = Post::type('page')->slug('portraits')->first

[2019-05-13 06:45] monmarzia commented on #460
I'm back, while waiting for an answer, I've managed using the wp function in my view:
`@foreach($section->gallery->slides as $slide)

{{ wp_get_attachment_thumb_url($slide->ID) }}

@endforeach
`

Monica

[2019-05-13 07:24] ghost opened #461 "Some users Auth returns false"
- Corcel Version: 2.7.*
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.2.5
- Database Driver & Version: Mysal

### Description:
Using the Auth facade works for some users and not for others.
A user with administrator access can successfully login but a user with subscriber level access cannot.

The only thing I can tell is different is that the subscriber user (failed) has a # in the pas

[2019-05-14 16:22] ricoxor commented on #458
I see on the database that to set a featured image on a post I will need to create on postmeta table 2 rows.
**_wp_attached_file** and **_wp_attachment_metadata**.

There is any possibility to do that with Corcel ?

I see that there is the same thing in options table to schedule post.

Thank you for your help.

[2019-05-17 13:35] jgrossi commented on #461
@brightroom thanks for reporting. can you give me more details about the problem? do you get any exception (which)? can you provide a step to reproduce this? just trying to understand it better and find out a solution for that. cheers

[2019-05-17 13:39] jgrossi commented on #460
hey @monmarzia thanks for reporting. sorry for the delay. I'm afraid to say that probably that's not implemented yet in Corcel. we do have a `public function thumbnail()` method that returns a single thumbnail related to post, but not a `thumbnails()` method for all posts.

it'd nice to double check how all thumbnails are stored in db then map a `Post` method for that, returning a collection of `T

[2019-05-17 13:41] jgrossi commented on #458
hey @ricoxor for sure! did you use `PostMeta::create()`? let me know if you get any luck with this.

[2019-05-17 13:42] jgrossi commented on #456
@dennisgon are you able to create a PR for that small change, please?

[2019-05-17 13:44] jgrossi commented on #455
hey @PayteR thanks for reporting this. yep I agree that's an issue. I'd say the solution is to create your own `User` class extending Corcel's, then you can override `$connection` and `$table` properties to a single one, shared between all sites your WP net has.

let me know if that worked, please! cheers

[2019-05-17 13:47] jgrossi commented on #454
@alexdumitru89 hum interesting, thanks for reporting this. I have to take a look at how Laravel works with this because it seems to be not attached to Corcel, probably not.

probably something related to the `$with` property in `Post` class, but that should also be cached by Laravel. have to take a look deeper to try to find where's the issue.

if you have any clue/suggestion please let me know. c

[2019-05-17 13:49] monmarzia commented on #460
Hi Junior, thank you for the reply. As far as I've investigated the post table and the wordpress function, it needs to put together the attachment guid stripping the filename and adding the thumbnail filename.
Maybe it's not so complicated, but I'm afraid I'm not enough skilled to make up this function...

Thank You
           Monica

[2019-05-17 13:50] jgrossi commented on #452
hey @benrolfe thanks for reporting. it seems the only point we use `ThumbnailMeta` in `Post` class it's in `thumbnail()` relation. are you calling it anywhere? just trying to get more information about that. cheers

[2019-05-17 13:51] jgrossi commented on #449
@andreacivita exactly like @carusogabriel said (thanks mate!) we do have a 2.8 branch that has native support to laravel 5.8. let me know if you need any other help please. cheers

[2019-05-17 13:51] #449 closed, assigned to nobody

[2019-05-17 13:58] jgrossi commented on #447
hi @oluomotoso! in this case you have to build your own query, something like:
[code]
of course, there are many other ways to do that, but that's first coming in my mind ;-)

[2019-05-17 13:58] #447 closed, assigned to nobody

[2019-05-17 13:59] jgrossi commented on #446
@amigogobara you can do that for sure. Corcel is built on top of Laravel's Eloquent ORM, so I suggest you to read more about Eloquent on how to insert rows with/without relations:

https://laravel.com/docs/5.8/eloquent

[2019-05-17 13:59] #446 closed, assigned to nobody

[2019-05-17 14:01] jgrossi commented on #442
@peratik can you debug this deeper to find where is the issue in Corcel's side? it's failing on Eloquent layer, so probably some code in Corcel is wrong when filtering taxonomies like you said. let me know please.

[2019-05-17 14:03] jgrossi commented on #434
@aft3rlife yes you can, but probably it's more a Eloquent task than Corcel's. you have to use `User` class with `create()` method, creating one by one.

1. first get your users from Laravel db table;
2. map your local table fields to WP users fields (take a look in DB table in WP)
3. call `User::create($data)` after mapped all the user data you need

probably there's more work related to roles, et

[2019-05-17 14:03] #434 closed, assigned to nobody

[2019-05-17 14:04] jgrossi commented on #437
@davidbrannvall can you provide a PR with that change please?

[2019-05-17 14:07] jgrossi commented on #460
@monmarzia got it, thanks! can you double check just if your post with more than one thumbnail if you really have more than one row for the same `post_id` in `wp_postmeta` table? if so a `hasMany()` relation should work grouping by the `guid` field. cheers

[2019-05-17 14:18] monmarzia commented on #460
I think this is the problem, this is true only for the featured image, but in some way, there is a relationship parent children with the attachment that isn't included in the postmeta table.
But I have two rows for each attachment: _wp_attached file that sores the guid for the attached file and _wp_attachment_metadata that stores the array with all the metadata, including the filenames for all the

[2019-05-17 17:18] PayteR commented on #455
@jgrossi Hi, well i already have done this, but i needed to extend all models, because they have relations with hardcoded User models from Corcel, and when i extended one model i needed to extend, another then another etc... and now i have all models extended in my app folder. I think the only real futureproof clean solution to this is either

1. make Corcel modes to be aware of that multisite hav

[2019-05-21 11:19] AnaxagorasKosta opened #462 "corcel authentication Roles"
- Corcel Version: 2.8
- Framework Name & Version: Laravel Framework 5.8.16
- PHP Version:  7.1.16
- Database Driver & Version: 5.7.21 mysql

### Description:
Just a question.
I was able to use `@can('admin-only', auth()->user())` to allow access to the pages. furthermore, once i installed corcel, i cant find a way to allow wordpress admin users to access certain pages.

Is this a bug, or i just ne

[2019-05-21 13:20] jgrossi commented on #462
@AnaxagorasKosta are you including `CorcelServiceProvider` and did you add the `corcel` authentication method like in here: https://github.com/corcel/corcel/blob/2.8/README.md#auth ?

[2019-05-21 13:41] AnaxagorasKosta commented on #462
Yes i have. i have followed the instructions. I can authenticate and login perfectly.
in the controller i have
[code]

I get null as a result.
when i dd $test. i get usermeta results but no wp_capabilities.

[2019-05-21 13:43] jgrossi commented on #462
@AnaxagorasKosta calling `auth()->user()` returns the `User` instance, not the user id.
[code]

[2019-05-22 07:35] AnaxagorasKosta commented on #462
Perfect. returns the string from database. `a:1:{s:12:"staff_member";b:1;}`

is there any way to get GMBS_capabilities **staff_member** only ?

[code]

Update: i unserialize the string. to get an array.

[2019-05-22 11:24] jgrossi commented on #462
yep, it's a serialized string. I think `UserMeta` does not support unserialization by defualt, but you can call `unserialize()` like you did for now. gonna raise a PR for that later on. thanks

[2019-05-25 15:51] dennisgon commented on #456
hi @jgrossi i already help in the PR #464
but it think the php unit test must be changed to pass the test because it forced to be used in laravel
[code]

[2019-05-29 11:47] AnaxagorasKosta opened #465 "banned/disabled users"
- Corcel Version: 2.8
- Framework Name & Version: Laravel Framework 5.8.16
- PHP Version: 7.1.16
- Database Driver & Version:5.7.21 mysql

### Description:
I have added a column into wp_users table named "is_banned" and I set 0 or 1 to enable or disable each user from logging them in. Furthermore, it doesnt seem to work at all. What i mean is, it doesnt seem to read the 'status' column. I can logg

[2019-05-29 13:30] AnaxagorasKosta commented on #465
ok found another way doing it.

using logincontroller function authenticated.
checking $user->status Auth

[2019-05-29 13:30] #465 closed, assigned to nobody

[2019-06-02 10:37] #456 closed, assigned to nobody

[2019-06-06 21:15] ospira opened #466 "How to Implement Common Shortcode"
- Corcel Version: v2.8.0
- Framework Name & Version: Laravel v5.8.19
- PHP Version: 7.2.17
- Database Driver & Version: mysql

### Description:

Firstly, thank you so much for this package. It is proving quite helpful in a project of mine!

However, the [shortcode example ](https://github.com/corcel/corcel#-shortcodes) is quite unintelligible to me 😪. How would I implement a common shortcode, such

[2019-06-11 11:42] ospira commented on #466
never mind! I figured it out 😅😅

[2019-06-11 12:37] #466 closed, assigned to nobody

[2019-06-11 13:13] jgrossi commented on #466
@ospira if you can share the solution it would be nice for the future! thanks

[2019-06-17 08:11] mihazs opened #467 "Corcel integration with Lighthouse GraphQL"
I'm searching a better way to expose Wordpress as a GraphQL api.
It's possible to integrate corcel with [Lighthouse](https://lighthouse-php.com) library??
If Corcel has a implementation of eloquent, in theory will be very quick to do that, right?

[2019-06-19 08:36] coccoinomane opened #468 "Gravity Forms support?"
Hello!

First of all, thank you for developing this great tool... WordPress is such an evolved ecosystem and being able to use it with Laravel is fantastic.

Here's my question: has anybody had success using the Gravity Forms plugin with Corcel?
This is an awesome plugin to create even very complex forms in a few steps directly in the admin panel.
It is IMO more user-friendly than Contact Forms 7

[2019-06-19 13:29] amorphine opened #469 "Extending Laravel's Auth with corcel user provider is incompatible with October CMS"
- Corcel Version: 2.5.8
- October CMS 255 / Laravel 5.5.45:
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7

### Description:
First of all thanks for the project, it's really great!
Some day's ago you solved a simular [issue with Lumen](https://github.com/corcel/corcel/issues/456). October CMS inspite the fact it's based on Laravel has the same problem: it fails [here](https://github.com

[2019-06-20 03:17] khanhvu14 opened #470 "hasMeta can use OR relation same wp_query ?"
- Corcel Version: 2.8.0
- Framework Name & Version: 5.8.23
- PHP Version: 7.3.4
- Database Driver & Version: mysql 5.7.26

### Description:

### Steps To Reproduce:

[2019-06-24 12:12] andrewmclagan commented on #467
Honestly why not just use the very well supported JSON api in Wordpress and save yourself some moving parts and maintaining

[2019-07-12 11:00] lear2012 commented on #437
I got the same problem. Here is what i changed:

<code>
public function scopeHasMeta(Builder $query, $meta, $value = null, string $operator = '=') {
        if (!is_array($meta)) {
            $meta = [$meta => $value];
        }

        foreach ($meta as $key => $value) {
            $query->whereHas('meta', function (Builder $query) use ($key, $value, $operator) {
                if (!is_string

[2019-07-12 14:19] rjsworking commented on #454
@jgrossi Yes. This problem occurs when you have posts with featured image / thumbnail and you access it's properties.  eg the url of the thumbnail to display the image.

[2019-07-15 09:59] jumper01 opened #471 "get popular posts"
- Corcel Version:  2.8
- Framework Name & Version: laravel 5.8
- PHP Version: >7.1
- Database Driver & Version: mysql

### Description:
how can i get popular posts like this php code  in cocrel plz :

$popularpost = new WP_Query( array( 'posts_per_page' => 4, 'meta_key' => 'wpb_post_views_count', 'orderby' => 'meta_value_num', 'order' => 'DESC'  ) );

Thank you

[2019-08-06 18:20] ricoxor commented on #458
Hello, Could someone explain to me how to schedule a post with Corcel ?

[2019-08-12 06:49] ajcastro opened #472 "Should include illuminate/pagination in composer required dependency"
The pagination should be included in the dependency because when using it outside laravel, it will error the Paginator class is not found.

Quick Fix:

composer require illuminate/pagination

[2019-08-16 08:51] pelomedusa opened #474 "Use with WPML"
Hello, just opening this issue for thoses how need to use with WPML, here are a few usefull snippets:

### **Pages:**
The following function `getTranslatedPage` is usefull to retrieve a page in a specific WPML language by its TRID.
The TRID is the common ID for the same page in different languages.
You can find the TRID in the `wp_icl_translations` table.

[code]

### **Posts types**
This is a bas

[2019-08-19 04:36] lear2012 opened #475 "Can't change post_author when creating post"
- Corcel Version: 2.7
- Framework Name & Version: Laravel 5.7
- PHP Version: 7.1
- Database Driver & Version: Mysql 5.7

### Description:
Can't change post_auth when creating a post even i set post_author to a fixed number.

### Steps To Reproduce:
[code]

I can save other data, but post_author is always 0 even i set it to a fixed number.
Any suggestions?

[2019-08-28 13:44] janboddez opened #476 "Add `post_status` to fillable?"
- Corcel Version: #.#.#
- Framework Name & Version:
- PHP Version:
- Database Driver & Version:

### Description:
If I create a new Post and set its Post Status to, e.g., `draft`, this is ignored because WordPress, when first setting up the database, sets the default column value to `publish`. I believe adding `post_status` to `$fillable` would solve this.

### Steps To Reproduce:
Basically:
[code

[2019-08-28 13:47] janboddez commented on #476
Of course, one solution would be to define a Post subclass, which is what I'm doing anyway, and overriding the `$fillable` array there.

[2019-08-28 13:51] janboddez commented on #476
I'm only now realizing `$fillable` has to do with which attributes are 'mass assignable,' meaning I could always do `$post->post_status = 'draft'; $post->save();`, I guess.

[2019-08-28 13:51] #476 closed, assigned to nobody

[2019-09-04 13:05] roelofr opened #477 "Laravel 6.0 support and semver"
- Corcel Version: latest (5.8)
- Framework Name & Version: Laravel 6.0
- PHP Version: 7.3.9-1+ubuntu19.04.1+deb.sury.org+1
- Database Driver & Version: PDO_MySQL @ 7.3.9-1+ubuntu19.04.1+deb.sury.org+1

### Description:
There is currently no support for Laravel 6 due to the new version constraints (`^6.0`). Bumping the version seems to work just okay, but maybe this is the moment to open a small di

[2019-09-04 13:07] jgrossi commented on #477
hey, agree! it's a good time to move to v3 in this case. can you work on a PR for that please?

[2019-09-04 13:08] roelofr commented on #477
Done, the pull request is available in #478.

[2019-09-06 12:39] roelofr commented on #477
Merged in #478,

[2019-09-06 12:39] #477 closed, assigned to nobody

[2019-09-06 16:10] audetcameron opened #479 "Content: ACF Custom Gutenberg Block Rendering Requet"
- Corcel Version: ^2.8
- Laravel 5.8.*
- PHP Version: 7.3
- Database Driver & Version: MariaDB

### Rendering Custom Gutenberg ACF blocks

### Create a custom ACF gutenberg blockBlocks. Example:
API, Rendered includes a custom rendered accordion block.
![image](https://user-images.githubusercontent.com/6738453/64443375-c4b3b580-d09f-11e9-9671-b58dc01ef336.png)

Getting content directly from the DB

[2019-09-07 05:48] vortechron opened #480 "[improvement] Generic MenuItem navigation label"
[code]

i had to override your Menu and MenuItem class so that i will be able to access navigation label.

Please implement something like this so that i dont have to override corcel class. Or maybe there is a helper method that i didnt know about. Please let me know. tq.

[2019-09-18 21:00] LarryBarker commented on #469
@amorphine I too am having this issue now. I have been using the package without issue for some time, and just recently when I tried to deploy to production I started getting this error. What is interesting is that locally, on my development copy of the repo, everything is working fine. However, when I clone a fresh copy of the repo and try to set it up, I'm getting the error. Do you have any upda

[2019-09-18 21:12] LarryBarker commented on #456
@jgrossi Could you provide any info on #469? I just started having this problem recently and it is preventing me from deploying my project to production. Everything is working fine locally, but if I clone a new copy of the repo and try to set up it is failing.

[2019-09-19 07:33] amorphine commented on #469
@LarBearrr To surpress an error I created `app/src/Auth.php` with content:
[code]

I think it's also possible to surpress an error via implementing Auth facade or something like that. For example, Rainlab.User plugin provides Auth implementation so having it's intalled would solve an issue, I bet.
Of course there's something to do within the Corcel package themself. But that's upon he's author. I

[2019-09-22 01:13] LarryBarker commented on #469
@amorphine Thanks for that!

[2019-09-23 13:10] Jokrion opened #482 "Post meta data unserialization"
- Corcel Version: 3.0
- Framework Name & Version: Wordpress 5.2.3
- PHP Version: 7.3.5
- Database Driver & Version: 5.7.26 - MySQL Community Server

### Description:

When trying to unserialize an array from my db, it did not work. To check if the problem was my serialized string, I used wordpress function maybe_unserialize, and it worked fine.
I'm using wordpress plugin MetaBox & MetaBox group -

[2019-09-24 07:58] zeroiszero opened #483 "Integrity constraint violation with PostBuilder where clause"
- Corcel Version: 3.0.0
- Framework Name & Version: Laravel version 6
- PHP Version: >= 7.2
- Database Driver & Version: MariaDB 10.3.14

### Description:
With the default where clause for post_type in PostBuilder. #326

Integrity issue will occur when using complex query.
This is the error i get when using with [TNTSearch](https://github.com/teamtnt/laravel-scout-tntsearch-driver):
<img width="14

[2019-09-27 07:04] Mghobadid opened #486 "use different usermeta for different user table"
before all, thank a bout this repo.

i have 3 user table . users , admins,writers
and 3 meta for that ; usermeta , adminmeta ,writermeta

for models i extend Corcel\Model\User ,

i want to connect every table to the their meta
how?

[2019-09-27 08:38] Mghobadid commented on #471
first , yo need to save post view in a meta ,
so  in post page , count the view and then save in in meta filed.
then order the posts by meta.

[2019-09-27 08:42] Mghobadid commented on #468
Gravity Forms is a plugin , so use custom table and function , in back end and front,
yo need implement all this functions and tables  .
in fact you must write a new Gravity Forms in laravel 😐

[2019-09-27 08:49] coccoinomane commented on #468
Ok I see, thank you Mghobadid!
I am closing the issue.
Guido

[2019-09-27 08:49] #468 closed, assigned to nobody

[2019-09-27 09:36] #486 closed, assigned to nobody

[2019-09-27 11:39] rathorevaibhav opened #487 "WP Post permalink not accessible for posts created using Corcel"
- Corcel Version: 2.8.0
- Framework Name & Version: Laravel v5.8
- PHP Version: PHP7.3
- Database Driver & Version: MySQL 5.7

### Description:
I'm creating a WP custom post entry through Corcel. Now when I retrieve the post permalink at WordPress using [get_post_permalink](https://developer.wordpress.org/reference/functions/get_post_permalink/), I don't get any data. If I try to edit the custom p

[2019-09-30 14:40] Log1x commented on #479
It's not stored in the database.

As far as I can tell, there is no sane approach to rendering ACF blocks within Laravel/Corcel the "WordPress way".

This leaves us with the option of wrapping our content in a method that will replace the HTML comments with our rendered blocks if they exist.

The first thing we need to do is lock down a method of not only replacing the HTML comments, but also pull

[2019-10-03 13:46] audetcameron commented on #479
I ended making a rest call and grabbing the rendered content via the api.  It works pretty well.  But I may look more into your solution

[2019-10-03 23:02] LarryBarker opened #488 "Displaying video embeds"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7

### Description:
Our wordpress sites are using the gutenberg editor (😠 ) and I'm having issues displayed youtube video blocks within my Laravel site. The only thing that is coming thru is the url:

https://www.youtube.com/watch?v=aVSp46nI_7E&amp;feature=youtu.be

I've tried chan

[2019-10-04 20:54] janboddez opened #489 "Add support for (blogroll) links?"
- Corcel Version: 3.0.0
- Framework Name & Version: Laravel 6.0.3
- PHP Version: 7.3.9
- Database Driver & Version: MariaDB 10.4.6

### Description:
Support for WP bookmarks is (seems) missing. (The original Links Manager is still part of WP core, just hidden. Some bloggers rely on it, still.)

Was able to add some support to my app like so, but it's lacking the more fancy bits:
[code]

[2019-10-06 07:39] rathorevaibhav commented on #487
In order to set permalinks, the `post_name` should also be updated. Also, the post_name is not mass assignable so it had to be updated separately.

Here's what I did:
[code]

Once updated, the permalinks are accessible in WP using get_permalink/get_post_permalink functions.

[2019-10-06 07:39] #487 closed, assigned to nobody

[2019-10-08 07:59] janboddez commented on #488
Pretty sure Corcel just fetches whatever post content is in the database, and does not apply any Gutenberg-related filters (or any other filters, for that matter, like `wpautop()` if you used the classic editor). I'm afraid this really is WordPress's own editor at work.

A solution would be to write your own Laravel accessor. Something like `getContent()` inside a child class of `Corcel\Model\Post

[2019-10-09 19:39] LarryBarker commented on #488
@janboddez Yeah, I was afraid of that. Thanks for the follow up.

[2019-10-09 19:39] #488 closed, assigned to nobody

[2019-10-09 19:56] LarryBarker opened #491 "Question about using with different post types"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7

### Description:
This is more of a general question, but I'm interested in using Corcel to retrieve different types of posts. Specifically, the WP site I'm integrating with uses The Events Calendar. I would like to display these events in our Laravel site, with as much informati

[2019-10-10 08:53] janboddez commented on #475
I would think this is because `'post_author'` is not in the Post class's `$fillable` array and thus can't be mass assigned, and the database's default value is 0.

After creating the post, could you not do `$post->post_author = 8; $post->save();`?

[2019-10-15 18:55] audetcameron opened #492 "Using Policies."
SOLVED

jgrossi/corcel": "^3.0
Laravel 6.0
- 7.3
-mysql

### Description:
I have created some laravel models.  I am trying to create policies so the user->can('view', SomeModel);  but, when using the corcel user model I get this error

[code]

If I change the corcel user model to
[code]

it works, however I feel like now I would be missing all of the use Corcel\Model;  methods.
Has anyone had succ

[2019-10-22 09:36] lear2012 commented on #475
Actually, i have `post_author` in $fillable array.
protected $fillable = [
        'post_content',
        'post_title',
        'post_excerpt',
        'post_type',
        'to_ping',
        'pinged',
        'post_content_filtered',
	    'guid',
	    'post_name',
	    'post_mime_type',
	    'post_author',
    ];

[2019-11-11 12:26] deep80 opened #493 "How to fetch menu navigation label"
- Corcel Version: 2.8.0
- Framework Name & Version: Laravel 5.8
- PHP Version: 7.2
- Database Driver & Version: mysql

### Description:
I am not able to get the menu labels that can be set in wordpress. The menu is working as per documentation.

### Steps To Reproduce:

[2019-11-24 10:02] ghost opened #494 "I can't understand the documentation"
- Corcel Version: ~2.7.0
- Framework Name & Version: Laravel Framework 5.7.15
- PHP Version: 7.3.9
- Database Driver & Version:

###( I'm New in LARAVEL ) Please I can't understand the documentation would you please Make a video to explain the documentation or to show me the steps  or if you already have one give me the link.

Thank you

### Steps To Reproduce:

[2019-12-02 00:01] andrewmclagan commented on #494
This is an issues board for an open source project. Not a free education learning service.

[2019-12-04 09:52] tauseefahmed commented on #398
**Here is a complete working solution.**
`<?php

namespace App\Http\Controllers;

use Illuminate\Http\Request;
use Illuminate\Support\Facades\Route;
use Corcel\Model\Page;
use Corcel\Model\Post;

class NavController extends Controller
{

    public function index()
    {

        // $posts = \Corcel\Model\Post::status('publish')->get();
        // foreach($posts as $post) {

        //     if($pos

[2019-12-13 13:10] u12206050 commented on #467
You will have to create custom Models for each resource, eg. Post, Page, Taxonomy, Term etc. and then you can define your schema, here is what I have so far:

[code]

[2019-12-19 11:09] lewisfff opened #496 "How to query on ACF relations ?"
- Corcel Version: 3.0
- Framework Name & Version: Laravel 6
- PHP Version: 7.3
- Database Driver & Version: Mysql

### Description:
Using this with no real issues, but one thing is getting me stuck.

One of my post types has a Relation field with a post ID stored (like a belongsto in laravel)

for example, post type Child has a relationship pointing to Page (storing the id)

Is there a way in this

[2019-12-31 15:46] jorbascrumps commented on #496
I'm also looking for information on how to query a relationship.

[2020-01-02 09:12] Corin123555 commented on #496
Also having this issue

[2020-01-03 18:01] Blair2004 opened #498 "How to query taxonomy using meta ?"
- Corcel Version: ^3.0
- Framework Name & Version: Laravel 6.2
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
Since there is a way to query post using meta... is there a way to query Category using their meta ?

[2020-01-18 14:38] samuelrojasp opened #501 "Extend usermeta to change usermeta table"
- Corcel Version: 2.5
- Framework Name & Version: Laravel 5.7
- PHP Version: PHP 7
- Database Driver & Version: mysql

### Description: I can't extend user meta model to change its table..

first i tried:
namespace App;

use Illuminate\Database\Eloquent\Model;
use Corcel\Model\Meta\UserMeta as Corcel;

class UserMeta extends Corcel
{
    protected $table = "wp_usermeta";
    public $timestamps = f

[2020-01-19 00:43] dannylank opened #502 "Hello, How I retrieve type and category from post?"
- Corcel Version: #.#.# last
- Framework Name & Version: laravel 6
- PHP Version:  7,2
- Database Driver & Version: 5,7

### Description:
I know how get taxonomies from post like:

### Steps To Reproduce:

$post = Post::where('post_status','publish')->orderBy('post_date','desc')->take(1)->get();
      foreach($post as $p)
      {
        $cat = $p->taxonomies->first();
        echo $cat->name;

[2020-01-27 17:49] emanuellopes opened #503 "Unserialize meta value from post"
- Corcel Version: 3.0.0
- Framework Name & Version: WordPress 5.3.2
- PHP Version: 7.3
- Database Driver & Version: mariaDB

### Description:
I'm trying convert a post to Json but I can't. Always receive this error.

Notice: unserialize(): Error at offset 0 of 1 bytes in /var/www/html/wp-content/themes/blog/vendor/jgrossi/corcel/src/Model/Meta/Meta.php on line 38 Notice: unserialize(): Error at of

[2020-01-27 20:24] jgrossi commented on #494
hey @di7aaa I suggest you to take a look on Laravel's documentation page. it's so much better than Corcel's, and once it's totally based on Eloquent you will understand exactly how Corcel works 👍

[2020-01-27 20:24] #494 closed, assigned to nobody

[2020-01-27 20:28] jgrossi commented on #492
@audetcameron thanks for the message. if you take a look on `Illuminate\Foundation\Auth\User` you will notice that that class does not have a body, but only the usage of fours traits:

[code]
to keep using Corcel's model class I suggest you to implement those same interfaces and use the same traits, but keeping extending Corcel's base model class.

if you just need the `can()` method you can just

[2020-01-27 20:28] #492 closed, assigned to nobody

[2020-01-27 20:31] jgrossi commented on #498
hi @Blair2004 I don't know if I got your idea here, but it seems you are trying to query `Taxonomy` (for category) using their meta value, correct?

if so you can use the `Taxonomy` class which has its own builder class: `TaxonomyBuilder`. it contains a scope method for `category()` and if you need to query using different names you can also use the `name(string $name)` method.

cheers 💪

[2020-01-27 20:31] #498 closed, assigned to nobody

[2020-01-27 20:32] jgrossi commented on #471
@jumper01 let me know if you need any help here, but since it has been some months after @Mghobadid suggestion I guess you have fixed the problem. cheers

[2020-01-27 20:32] #471 closed, assigned to nobody

[2020-01-27 20:35] jgrossi commented on #503
hey @emanuellopes. I think in this case we are just trying to reproduce WP's behavior, so the `unserialize()` call is required because it's how it works basically. I'd suggest you to create your own `Post` class extending Corcel's one then overriding the method you want to, avoid any other problem you have to deal with later. thank you

[2020-01-27 20:35] #503 closed, assigned to nobody

[2020-01-27 20:36] jgrossi commented on #502
hey @dannylank if you take a look we have a `PostBuilder` class, and there you can find a `taxonomy()` scope. so you can just:
[code]
and you will have all related posts. cheers 💪

[2020-01-27 20:36] #502 closed, assigned to nobody

[2020-01-27 20:39] jgrossi commented on #501
hey @samuelrojasp if you are using `config/corcel.php` file you have `corcel` as the db connection by default. if you are using the Laravel's default connection, please double-check if you are pointing to the correct connection.

if this doesn't help let us know what's the error message you're facing, then we can help you more cheers 💪

[2020-01-27 20:50] jgrossi commented on #496
@lewisfff good one man 💪 I'm not sure if I know the right answer here, but `Post` has a `meta()` has many relationship with `PostMeta` class (take a look on `MetaFields` trait), so you can use:

[code]
you can also combine this with the usage of `->with(['meta' => function ($query) {}])` what might help too. I wrote a post some time ago with some tips for those queries, and I see a good fit here:

[2020-01-27 20:51] jgrossi commented on #493
@deep80 can't you get them using the posts objects?

[2020-01-27 20:54] jgrossi commented on #491
hi @LarBearrr an event, using your case, is a simple post managed by WP. once you get an event you will get a post with all information. how "the events calendar" stores data I don't know, but if it's not at post level for sure it's using metadata, so you can use `$event->meta` for that, where you should get all custom fields for that post. hope it helps. cheers 💪

[2020-01-27 20:54] #491 closed, assigned to nobody

[2020-01-27 20:55] jgrossi commented on #483
@zeroiszero hey you're welcome to send a PR to fix this 🎉 thank you!

[2020-01-27 20:55] #483 closed, assigned to nobody

[2020-01-27 21:22] jgrossi commented on #437
@davidbrannvall @lear2012 can I have a PR to fix this please? thank you

[2020-01-27 21:22] #440 closed, assigned to nobody

[2020-01-27 21:23] #442 closed, assigned to nobody

[2020-01-27 21:23] #443 closed, assigned to nobody

[2020-01-27 21:23] #452 closed, assigned to nobody

[2020-01-27 21:24] #350 closed, assigned to nobody

[2020-01-27 21:25] #374 closed, assigned to nobody

[2020-01-27 21:26] jgrossi commented on #386
@matthewscalf @Juhlinus @leafling @CurtisBelt closing this issue. open a PR if anyone has a fix for this please. thank you!

[2020-01-27 21:26] #386 closed, assigned to nobody

[2020-01-27 21:27] #390 closed, assigned to nobody

[2020-01-27 21:27] #391 closed, assigned to nobody

[2020-01-27 21:27] #394 closed, assigned to nobody

[2020-01-27 21:28] #470 closed, assigned to nobody

[2020-01-27 21:28] #472 closed, assigned to nobody

[2020-01-27 21:29] #474 closed, assigned to nobody

[2020-01-27 21:30] jgrossi commented on #480
@vortechron gonna close this issue but feel free to open a PR with this fix. thank you

[2020-01-27 21:30] #480 closed, assigned to nobody

[2020-01-27 21:30] #482 closed, assigned to nobody

[2020-01-27 21:31] jgrossi commented on #489
@janboddez hey thank you. feel free to open a PR for that. thank you

[2020-01-28 09:36] emanuellopes commented on #503
Thanks @jgrossi

[2020-01-28 20:40] audetcameron commented on #492
I ended up creating a model extending your model. It's working well.  Thank you for all the hard work on the Corcel package!  Also included examples for anyone integrating passport.
[code]

[2020-01-31 02:36] samuelrojasp commented on #501
Hi,

the problem is that i want to use a single connection to my other models and corcel models.

with user model i simply extended the corcel user model, but, it doesnt work with usermeta.

thanks.

[2020-01-31 11:20] AjithLalps opened #504 "Returning 500 on server"
- Corcel Version: 2.8.0
- Framework Name & Version: Laravel 5.8.36
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.5.6

### Description:
corcel is working on local and returning 500 while trying to do the same action on the server. all configurations are correct and corcel is installed on server.
I've enabled the debug on the server but showing 500 only. No errors in error log also.

### S

[2020-01-31 14:45] Ahrengot opened #505 "Architecting a secure API call from WordPress"
- Corcel Version: 3.1.0
- Framework Name & Version: WordPress 5.3.2, Laravel 6.2
- PHP Version: 7.4
- Database Driver & Version: MySQL 5.6

### Description:
I've set up a basic Laravel + Corcel installation and everything is working straight out of the box. Great job on this project!

So here's the reason I ended up finding this repo: I want to set up a Laravel-installation, separate from my WordP

[2020-02-01 08:00] AjithLalps commented on #504
The issue was with my configuration cache. after clearing the cache, the issue has been fixed.

[2020-02-01 08:00] #504 closed, assigned to nobody

[2020-02-01 15:14] evaleries opened #506 "Route Model Binding"
- Corcel Version: 3.1.0
- Framework Name & Version: Laravel 6.2
- PHP Version: 7.3.12
- Database Driver & Version: Mysql (8.0.18)

### Description:
Route model binding is an elegant way to make our controller more simple & readable. Usually we're need to add `getRouteKeyName` function into the model and return the column marked as slug. By extending `Corcel\Model\Post` this kind of trick doesn't w

[2020-02-11 18:23] JmRy commented on #466
@jgrossi and @all

Basic example of the [caption][/caption] shortcode implementation

**config/corcel.php**

    'shortcodes' => [
        'caption' => App\Shortcodes\CaptionShortcode::class,
    ],

 **App\Shortcodes\CaptionShortcode.class**

[code]
**Post content**
[code]

**Render**
[code]
I deleted the id and aria attributes but just re-read the code function in the codex [Caption_Shortcode](h

[2020-02-21 18:14] #506 closed, assigned to nobody

[2020-02-21 23:37] dannylank opened #507 "How I enter or create a comment"
- Corcel Version: #.#.# Latest
- Framework Name & Version: 6.14
- PHP Version: 7.2
- Database Driver & Version: 5,4

### Description:
How I create a comment?

### Steps To Reproduce:

[2020-02-23 01:40] Mghobadid opened #508 "login with username of email"
how let's user sign in by username or email?

  if( filter_var($username, FILTER_VALIDATE_EMAIL) ) {

            Auth::validate([
                'email' => $request->username,
                'password' => $request->password,
            ]);
        } else {

            Auth::attempt(['username' => $request->username, 'password' => $request->password]);
        }

i use this code but,just usern

[2020-02-23 03:30] #508 closed, assigned to nobody

[2020-03-02 18:50] wfsmith opened #509 "PostBuilder method ->published() has a where clause for post_status=future which adds tremendous overhead to all post queries"
- Corcel Version: 2.8.*
- Framework Name & Version: Laravel 5.8
- PHP Version: 7.2
- Database Driver & Version: MySQL 8

### Description:

More of a question really.  On [line 37 of PostBuilder.php](https://github.com/corcel/corcel/blob/3.0/src/Model/Builder/PostBuilder.php#L32), the `published()` method queries for post_status = publish but also adds the where clause for post_status = future and

[2020-03-04 15:12] xewl opened #510 "Laravel 7 support"
- Corcel Version: ^3.1
- Framework Name & Version: Laravel 7.0
- PHP Version: ^7.2 (7.4 in my setup)
- Database Driver & Version: /

### Description:
The inevitable; adding support for Laravel 7

### Steps To Reproduce:
`composer update` with requirement `"laravel/framework": "^7"`
results in:
[code]

[2020-03-04 22:36] jgrossi commented on #510
hey! added support to L7 on branch 4.0. please update your `jgrossi/corcel` to `4.0.0` 🎉

[2020-03-04 22:36] #510 closed, assigned to nobody

[2020-03-07 20:21] wfsmith commented on #509
I solved the above issue by overriding the published() method in Corcel/PostBuilder

1. Created PostBuilder.php and added the following code:

[code]

2. Add this method to your BaseModel (or Model)

In the top:

[code]

In the class:

[code]

Queries in my testing environment for posts went from ~40ms to ~2ms

[2020-03-09 11:32] cameronraw opened #511 "Making Blade files available to WP users as their template of choice"
Hi all,

Not really a problem with Corcel as such, but I was wondering if anyone has successfully managed to make Laravel Blade files available in the templates drop down on Wordpress for when users are creating pages and selecting the template they would like to use for that page.

I managed to achieve a system that "works", but I had to make a minor change to a function within the core files (I

[2020-03-09 11:37] cameronraw commented on #511
Just to give an idea of what I was editing to achieve the desired effect, it was the WP_Theme::get_files() method.

[code]

I would get the $this->get_stylesheet_directory() path, and amend it so it pointed to the Laravel views folder. Messy, I know - but if it could be achieved in a better way, it would make a great feature.

Anyway, thanks for any help.

[2020-03-09 17:27] cameronraw commented on #511
I feel VERY stupid... just found the apply_filter('stylesheet_directory') solution I've been looking for...

[2020-03-09 17:27] #511 closed, assigned to nobody

[2020-03-11 04:12] OmarRobinson opened #512 "ErrorException Notice: unserialize(): Error at offset 0 of 14 bytes"
- Corcel Version: 2.8.0
- Framework Name & Version: Laravel 5.8
- PHP Version: 7.2
- Database Driver & Version: MySQL 5.7

### Description:
The system is returning a notice on every page load for unserialize(): Error at offset 0 of 14 bytes

### Steps To Reproduce:

Create a **app/Providers/BlogServiceProvider.php** as show in example below:

[code]

Nothing complicated, but I can't seem to get ri

[2020-03-17 12:53] sirmaya opened #514 "Shortcodes are not getting parsed + Classes and Functions list is required"
Dear Concern, I have followed the instructions and added the relevant configurations and tried to parse a shortcode of faqs, but instead of displaying the FAQs, the result is showing me the shortcode.
Is there any practical example of fetching such wordpress pages which have shortcodes?

Also provide the documentation of the classes and their functions which your package has.

- Corcel Version: #.

[2020-03-26 09:05] JuicyLung91 opened #515 "How to get a custom-taxonomy term by meta"
- Corcel Version: ^4.0
- Framework Name & Version: Only Corcel
- PHP Version: 7.2.2

As far as I understand the docs you can use the hasMeta trait on every model.
I am trying to get a taxonomy term by a meta field like this:

`Taxonomy::where('taxonomy', 'custom_tax_name')->hasMeta('key_name', 'key_value')->first()->first()`

Doesn't seem to work. Do I have to use the term Class?  Or make a custom

[2020-03-30 18:24] LarryBarker commented on #421
@jgrossi I'm unable to get posts for my category this way:
![image](https://user-images.githubusercontent.com/28734844/77947623-d356f980-7289-11ea-8005-dfba6916e4ae.png)

[2020-03-30 21:04] LarryBarker opened #516 "How to query by meta data"
- Corcel Version: ^2.5
- Framework Name & Version: Laravel 5.5
- PHP Version: 7.3
- Database Driver & Version: MySQL 5.7

### Description:
My posts have date meta data such as start and end dates. How can I query so that I return only posts that are after today's date? I've tried `hasMeta('start_date, '>', Carbon::now())` but this doesn't work.

[2020-04-02 14:54] ahinkle commented on #516
duplicate of #437.

[2020-04-03 15:52] wfsmith commented on #509
I thought I'd give an update to this issue.  After applying the above fix, here's a graph of how big the change in load to our database was.  For context, we use AWS RDS MySQL 8. Our WP instance has ~130,000 posts (500k+ for all posts incl. attachments, revisions, etc), 1.5m post_meta rows.

https://i.imgur.com/TOph6Fi.png

[2020-04-15 02:44] samuelrojasp commented on #501
hi,

i haven't written in a while about the issue... but i still can't solve it, is there any way you may help me to change the table property in the usermeta model by extending the model?

thanks!

[2020-05-02 09:47] FSElias opened #517 "Trait method guard has not been applied, because there are collisions with other trait methods"
- Corcel Version: 4.0.0
- Framework Name & Version: Laravel 7.9.2
- PHP Version: 7.4.4
- Database Driver & Version: MySQL

### Description:
The fatal error:
"Trait method guard has not been applied, because there are collisions with other trait methods on App\Http\Controllers\Auth\ResetPasswordController"

Is showing after adding the lines from the readme file to app\Http\Controllers\Auth\ResetPas

[2020-05-12 11:07] invaders-xx opened #518 "How to attach/detach a category/tag to a post ?"
- Corcel Version: 3.0.0
- Framework Name & Version: 6
- PHP Version: 7.4
- Database Driver & Version: mysql 5.7

### Description:
How to attach/detach a category/tag to a post ?

### Steps To Reproduce:

[2020-06-11 20:53] marcpre opened #519 "Create post from corcel within external wordpress site"
- Corcel Version: `"3.0.0"`
- Framework Name & Version: `Laravel Framework 6.16.0`
- PHP Version: `PHP 7.4.1`

### Description:

How to create a new post in corcel. I found this issue [301](https://github.com/corcel/corcel/issues/301) where a create method is mentioned in the Eloquent class `Post`.

![image](https://user-images.githubusercontent.com/30902582/84437981-2fe57600-ac36-11ea-8f6a-b9370a

[2020-06-13 04:52] ajgentile commented on #519
I use:
$post = new Post();
$post->post_title = $new_title;
...
$post->save()
$the_new_post_id = $post->ID;
$post->saveMeta($meta_array);
etc.

Might be kinda hacky but works for me. I have a lot of helper functions I've written to keep all the wp tables in sync. Wordpress is spaghetti code but it's the one we've got.

[2020-06-13 09:20] kristoffermads opened #520 "MenuItem->parent() fetches wrong object"
- Corcel Version: 4.0.0
- Framework Name & Version: xxx
- PHP Version: 7.x
- Database Driver & Version: MySql 5.x

### Description:
In file "menuItem" the "parent()" fectches a "Post|Page|CustomLink|Taxonomy" that matches the Id of the menuitem parent.

[code]

The correct code would probably be

[code]

### Steps To Reproduce:

[code]

[2020-06-13 09:41] kristoffermads commented on #520
Just to clarify: The method outlined in Corcel documentation (even if the code was correct) would currently not workif the same page|post|taxonomy was used several times in the same menu.

Furthermore, the integer given in
"meta->_menu_item_menu_item_parent" refers to MenuItems ID's, not posts, pages or taxonomies.

[2020-06-13 18:09] #519 closed, assigned to nobody

[2020-06-15 17:40] jenusits opened #521 "Connection refused"
- Corcel Version: 4.0
- Framework Name & Version: Laravel 7.0
- PHP Version: 7.2.21
- Database Driver & Version: MySQL

### Description:
Hi, I'm trying to set corcel with a fresh Laravel install and followed the steps to configure the database with corcel. However, when I tried using the Pages method for example, I always get this kind of error. I was never able to display pages and posts. What am

[2020-06-15 23:24] imtiazmahbub commented on #213
How do I use this for `WHERE my_field_name IS NOT NULL` ?

[2020-06-16 13:13] jenusits commented on #521
Got it sorted out. I was testing on my local and forgot to add the port number on my Database variable. All good thanks